[2018-05-03 23:26] nsmetanin opened #1 "train.py fails to train"
Hi @rafaelvalle , thanks for the great implementation!

But I can't start the training right as stated in your README (with pytorch-0.4.0):

[code]

Thanks!

[2018-05-03 23:29] raulpuric commented on #1
Think I have a working version for 0.4 will submit a PR in an hour

[2018-05-03 23:51] rafaelvalle commented on #1
@nsmetanin thanks for sharing the issue.
@raulpuric thanks for submitting the PR.

[2018-05-04 01:30] raulpuric commented on #1
let me know if this works https://github.com/NVIDIA/tacotron2/tree/single-gpu-and-0.4

and I'll merge it in

[2018-05-04 02:14] neverjoe opened #3 "Plan to integrate with nv-wavenet?"
I think integrating taco2 with nv-wavenet still is a long way, first thing i think nv-wavenet should support mol, not just 8bit.

[2018-05-04 02:27] neverjoe commented on #3
Great work!
Can u share some wav sample of your full stack tts system(8 bit nv-wavenet)?

[2018-05-04 06:56] nsmetanin commented on #1
Unfortunately, still doesn't work:

[code]

(and also a typo at line 197 in train.py `if distributed_run and ...` but should be `if hparams.distributed_run and ...`)

[2018-05-04 16:13] rafaelvalle commented on #1
@nsmetanin please give it a try from master and let us know if it works for you.

[2018-05-04 16:30] nsmetanin commented on #1
Still the same error from master:

[code]

[2018-05-04 16:46] rafaelvalle commented on #1
@nsmetanin Are you trying to run on the CPU?

[2018-05-04 17:06] nsmetanin commented on #1
No, I'm running on a GPU server inside the Docker container — it's based on nvidia/9.1-cudnn7-runtime-ubuntu16.04. Another PyTorch-based repos works fine. I've installed PyTorch version 0.4 with `pip3 install http://download.pytorch.org/whl/cu91/torch-0.4.0-cp35-cp35m-linux_x86_64.whl` (it seems that it's appropriate CUDA-9.1-compiled version)

[2018-05-04 17:12] rafaelvalle commented on #1
@nsmetanin in utils.py, please try replacing  `ids = torch.arange(0, max_len, out=torch.LongTensor(max_len)).cuda()` with `ids = torch.arange(0, max_len).long().cuda()`

[2018-05-04 17:20] syoyo opened #5 "module compiled against API version 0xc but this version of numpy is 0xb"
OS: Ubuntu 16.04
CUDA: 9.0
Python: 3.6(Conda)

When I try to run `train.py`, I got an error message as in the issue title.

It looks tensorflow 1.5.0 + numpy 1.13.3 + python 3.6 combination is somewhat problematic.

https://github.com/tensorflow/tensorflow/issues/16488
https://github.com/eldar/pose-tensorflow/issues/68

At least I have confirmed updating `tensorflow` to 1.6.0 in `requirements.txt`

[2018-05-04 17:35] nsmetanin commented on #1
Great, thanks, now these lines work. But another problem arises:

[code]

[2018-05-04 17:37] raulpuric commented on #1
Are u on the official 0.4 wheel or top of tree?

[2018-05-04 17:38] nsmetanin commented on #1
@raulpuric yes, official, right as I stated above — `http://download.pytorch.org/whl/cu91/torch-0.4.0-cp35-cp35m-linux_x86_64.whl` (just from pytorch.org)

[2018-05-04 17:49] rafaelvalle commented on #5
Can you pull and confirm that the unspecified tensorflow requirements work?

[2018-05-04 19:12] nsmetanin commented on #1
So the workaround is to use `max_len.long().item()` instead of `max_len` on line 521 in 'model.py' — but I'm not sure if it's the correct solution.

[2018-05-04 19:14] raulpuric commented on #5
same error as other issue.
See https://github.com/NVIDIA/tacotron2/tree/padding-patch-0.4 should work now.
will merge in an hour or so when others are convince as well :)

[2018-05-04 19:16] raulpuric commented on #1
yep. That's one way to do it and should work through to v0.5

the version up in https://github.com/NVIDIA/tacotron2/tree/padding-patch-0.4 should work now for versions 0.3 and 0.4

will merge in an hour or so when others are convince as well :)

[2018-05-04 20:26] rafaelvalle commented on #1
@nsmetanin The current code on master should work with your setup as well. Let us know

[2018-05-04 20:27] rafaelvalle commented on #5
@syoyo please pull from master and confirm that it works for you.

[2018-05-04 20:40] rafaelvalle commented on #3
Not yet but soon. We're currently working on another release.

[2018-05-04 21:44] nsmetanin commented on #1
It works now, great, thanks!

[2018-05-04 21:44] #1 closed

[2018-05-05 03:40] syoyo commented on #5
Thank! Confirmed now its fixed.

[2018-05-05 03:40] #5 closed

[2018-05-05 22:16] nsmetanin opened #8 "inference.ipynb doesn't work"
Hi,

with PyTorch 0.4 and Python 3.5 inference.ipynb fails on 5th cell:

[code]

And then (if `model = model.module` commented out) on 8th cell:

[code]

Thanks!

[2018-05-05 22:36] rafaelvalle commented on #8
Thanks for sharing this.
1) We'll update the code to separately handle cases where DataParallel or DistributeDataParallel are not being used, i.e. single gpu.

2) Please change this `gate_outputs += [gate_output.squeeze()]` to this `gate_outputs += [gate_output.squeeze()]`. You can find this code on line 438 of model.py as shown in link below:
https://github.com/NVIDIA/tacotron2/blob/a38429e629ac3

[2018-05-06 08:45] nsmetanin commented on #8
That fix works, thanks!

[2018-05-06 13:24] xinge333 opened #9 "can't lanch RuntimeError"
why I run train.py after I prepared data,  it can't work. an issue called OOM?

File "train.py", line 79, in load_model
    model = Tacotron2(hparams).cuda()
RuntimeError: cuda runtime error (2) : out of memory at /pytorch/aten/src/THC/THCTensorRandom.cu:25

[2018-05-06 15:27] rafaelvalle commented on #9
Make sure you batch size fits the GPU by watching GPU memory consumption with the command `nvidia-smi`. If it doesn't decrease it accordingly.

[2018-05-06 15:35] syoyo commented on #9
@xinge333 FYI it looks batch size `32` works well for GTX 1080 Ti(consumes 10 GB out of 11 GB mem. and `train` could run at least for 24 hours)

[2018-05-06 15:52] xinge333 commented on #9
ok , it has been solver after I assign  gpu:1; thanks ! my batch size is 32 ,it's ok. I forget to set CUDA_VISIBLE_DEVICES=gpu_id,  now it fixed.

[2018-05-06 15:59] rafaelvalle commented on #8
Great, we updated master.

[2018-05-06 15:59] #8 closed

[2018-05-06 15:59] #9 closed

[2018-05-08 09:02] ghenter opened #10 "Audio examples?"
Very cool work, this! However, it would be ideal to also provide examples of input text + output audio from a trained system, alongside held-out examples from the database. This will give an impression of what kind of results the code is capable of generating with the LJSpeech data, and is standard practise in the text-to-speech field.

Aside from synthesising held-out sentences from LJSpeech, [Go

[2018-05-08 20:10] macarbonneau opened #11 "Memory Requirement"
Hi!
    Thanks for the code! I tried to run train.py, but got a memory error. I have a 1080Ti with 11Gb. What hardware do you use? Do you know what are the memory requirements?

Thank you!

[2018-05-08 21:32] nsmetanin commented on #10
My result of training this repo on LJSpeech dataset on a single GPU for ~98 hours — https://www.dropbox.com/s/k9w7wwpgte3gnqb/tacotron2_ljspeech_step60000.wav?dl=0

The lack of WaveNet vocoder makes the difference.

[2018-05-08 22:27] rafaelvalle commented on #11
Watch your memory foot-print and adapt batch size accordingly. Probably something around 32 gb works fine for the 1080Ti

To watch your memory footprint use on the cli: `watch -n .1 nvidia-smi`

[2018-05-08 22:27] #11 closed

[2018-05-08 22:30] rafaelvalle commented on #10
The wavenet vocoder does make a huge difference, and we’re in the process of open sourcing that as well.

[2018-05-08 22:31] rafaelvalle commented on #10
@nsmetanin can you share training curves, etc? i assume people will be interested in looking at that.

[2018-05-09 06:38] begeekmyfriend opened #12 "How much dataset is needed at least to train on your version?"
I find that different versions have different quantities of dataset needed to train into convergence https://github.com/Rayhane-mamah/Tacotron-2/issues/35. I wonder how much is the least on your implementation?

[2018-05-09 08:48] fatchord opened #13 "Zoneout"
Hi, great repo and many thanks for putting your work up here for everyone.

One thing I just wanted to mention - I had a quick look at your code and it doesn't look like there is zoneout regularisation on the lstm decoders. Do you plan on adding it or indeed perhaps I missed it when I read the code?

[2018-05-09 09:06] HaoyuanLuo commented on #10
@nsmetanin Nice result, Thanks for you sharing. I'm very intersted in how much time it takes to synthesis a 5 seconds wav file. Would you like to share it with us? And what's your hardware resources to get the time results?

[2018-05-09 09:15] begeekmyfriend opened #14 "Got 'Incomplete wav chunk' exception through scipy.io.wavfile.read"
I have got an `Incomplete wav chunk` exception through `scipy.io.wavfile.read`. However it would be all right through `librosa.core.load` method. I suggest the latter instead in `util.py` and then we do not need `max_wav_value` to normalize the wav data.

  WavFileWarning)
Traceback (most recent call last):
  File "train.py", line 285, in <module>
    args.warm_start, args.n_gpus, args.rank, args.

[2018-05-09 14:04] #14 closed

[2018-05-09 14:06] rafaelvalle commented on #13
Thank you for your kind words. Yes, this repo does not have Zoneout and we would possibly add it if there's an pull request adding this feature.

[2018-05-09 14:06] #13 closed

[2018-05-09 14:09] rafaelvalle commented on #12
We've been able to train with datasets of ~10h. With smaller datasets, data augmentation, e.g. using different segments of the same file, and possibly regularization can help if the model is not generalizing...

[2018-05-09 14:27] nsmetanin commented on #10
@HaoyuanLuo it takes 1.5s for model inference stage + 0.04s for STFT (mel to spectrogram) stage + 6.3s for Griffin-Lim (spectrogram to wav) stage = ~8s to synthesize the sample above (5s of audio) on Tesla M60

My configuration is Tesla M60 with 8Gb memory (I had to limit batch size to 24 to fit the training into GPU)

And the mel outputs, mel outputs postnet and alignment for the sample above are

[2018-05-09 15:31] rafaelvalle commented on #10
Note that the 1.5s time for model inference includes a one-time only "penalty" for loading the model. On the full TTS stack, i.e. Tacotron 2 with Wavenet, our inference time is at most 0.4 seconds for 1 second audio: faster than real-time.

[2018-05-09 15:36] nsmetanin commented on #10
@rafaelvalle 1.5s was only the execution time for `mel_outputs, mel_outputs_postnet, _, alignments = model.inference(sequence)` line, which was re-ran multiple times to get confident numbers.

[2018-05-09 15:42] rafaelvalle commented on #10
Can you put it into perspective and day how long the audio is?

[2018-05-10 00:25] maozhiqiang commented on #10
＠nsmetanin how mang steps to alignments! like you show !, I training 5000 steps the mels and alignments like this
![individualimage](https://user-images.githubusercontent.com/23501322/39845995-bd7a0e32-542b-11e8-8d5a-2efa5813658f.png)
![individualimage 1](https://user-images.githubusercontent.com/23501322/39845996-bdc1e82e-542b-11e8-97ed-962822db40f1.png)

[2018-05-10 03:01] begeekmyfriend commented on #10
@rafaelvalle Can you provide python source code for audio synthesis? Jupyter notebook is really awkward for me...

[2018-05-10 04:07] rafaelvalle commented on #10
You can get the python code by editing the ipython notebook in a text editor.

[2018-05-10 07:28] begeekmyfriend commented on #10
@rafaelvalle It generates nothing when I concatenate `inference.ipynb` into a python file. The only output log shows `Warning! Reached max decoder steps` and the it is over. The checkout point file is under the output directory. Does it mean it is unable to convergence?

[2018-05-10 07:54] begeekmyfriend commented on #10
I used `librosa` to store the wav file synthesized from checkpoint model of 23K steps. I do not get the alignment image. It seems it failed to convergence on my 10h dataset without augmentation.
[code]
[eval-23000.zip](https://github.com/NVIDIA/tacotron2/files/1990782/eval-23000.zip)

[2018-05-10 10:30] ghenter commented on #10
@maozhiqiang @begeekmyfriend Perhaps you should open separate issues on GitHub to dig into the problems each of you are seeing? It feels like alignment/convergence failures and output-generation warnings are separate issues from the current lack of reference audio examples from a system that has been successfully trained on the default data.

[2018-05-10 13:31] rafaelvalle commented on #10
@ghenter Thanks for pointing that out, Gustav. @begeekmyfriend please create a separate issue where we can discuss.

[2018-05-10 13:54] begeekmyfriend commented on #12
Well, actually I am comparing two projects of Ito's and Mamah's to find out the key modification that would decide the quantity of dataset. I will make series of modifications step by step to make Ito's training into convergence and Mamah's into unconvergence on the same 10h length dataset. Just as Mamah said, it must be one of life's mysteries.

[2018-05-10 14:12] rafaelvalle commented on #12
Thank you for doing this and please share your conclusions with the TTS community on these repos. In addition to model architecture, parameters and weight initialization, also make sure you take a look at differences in data pre-processing, scaling wav by max value, etc.

[2018-05-11 01:30] shreyasnivas opened #15 "How is teacher forcing being annealed?"
Hi guys,
Some really great work here!

I'm trying to understand how tf is being applied in this model as compared to the Tacotron2 paper by Google.

As I understand it, in the paper, tf = 1.0 is applied for 50k steps before it is annealed (I would image, it goes all the way to 0)

Whereas in the code here, we can see tf being applied all the time during training.

`decoder_input = decoder_inputs[l

[2018-05-11 01:39] abuvaneswari opened #16 "RuntimeError: torch/csrc/autograd/variable.cpp:138: get_grad_fn: Assertion `output_nr_ == 0` failed."
Hello,

Centos 7
Python 3.6
CUDA 9

Used conda for installing pytorch for this configuration.

Had to remove the version specification for numpy and torch in your requirements.txt as I got the error message logged in issue #5

Now,
numpy = 1.14.3
torch = 0.4.0
tensorflow = 1.6.0

After the requirements installation, when I run train.py, I get the following error.

Please help:
- - - - - - - - - -

[2018-05-11 01:43] rafaelvalle commented on #16
@abuvaneswari what is your pytorch version?

[2018-05-11 01:45] rafaelvalle commented on #16
@raulpuric any thoughts on this?

[2018-05-11 02:00] abuvaneswari commented on #16
Hello,

thanks for looking into this. I used the following command to install pytorch.
conda install pytorch torchvision cuda90 -c pytorch

torch version is 0.4.0
Please let me know the command to find pytorch version

thanks,
Buvana

[2018-05-11 02:05] rafaelvalle commented on #16
For sanity check: are you running on multiple gpus, single gpu, cpu?

[2018-05-11 02:06] abuvaneswari commented on #16
Multiple GPUs. Volta.

[2018-05-11 02:08] rafaelvalle commented on #16
Please run with DistributedDataParallel instead of DataParallel and let us know.
`python -m multiproc train.py --output_directory=./outdir --log_directory=./logdir --hparams=distributed_run=True`

[2018-05-11 04:06] raulpuric commented on #16
So by default the code detects if you have multiple gpus available, and if you do it will automatically wrap the model in dataparallel unless you force it to use Distributed data parallel via the `python -m multiproc train.py`. For some reason ever since upgrading to 0.4 DataParallel hasn't been working properly for us.

If you don't want to use some form of data parallelism in your training I wou

[2018-05-11 08:30] ghenter commented on #10
It's exciting to hear that you are working to open-source more of your WaveNet vocoder. However, while the vocoder makes a great difference for signal quality, the Tacotron 2 front-end in this repository is responsible for aspects like pronunciation and prosody.

I think it would be good if everyone (users as well as repo maintainers) would consider posting Griffin-Lim-generated synthetic speech (

[2018-05-12 02:42] abuvaneswari commented on #16
Hello,

Thanks a lot for your suggestion.

export CUDA_VISIBLE_DEVICES="0" and then executing the train.py is successful! But the step time is reported as 4 sec on a Pascal. Is that expected? How many steps I need to execute before a decent model can be arrived at?

export CUDA_VISIBLE_DEVICES="0,1,2,3" and then executing the following command results in an initial error message, but I think the t

[2018-05-13 20:36] glennglennglenn commented on #3
@rafaelvalle How long do you think it will be before the integration with nv-wavenet is released? How is the voice quality with that integration?

[2018-05-14 04:03] rafaelvalle commented on #3
Pytorch bindings for 8-bit mulaw nv-wavenet should be out this week.

[2018-05-14 06:41] neverjoe commented on #3
nice work!@rafaelvalle, Can I use r9y9's wavenet arch of 8-bit mulaw with your work?

[2018-05-14 07:29] maozhiqiang opened #17 "It's working now---using Chinese corpus"
the plot like
![screenshot from 2018-05-14 15-26-33](https://user-images.githubusercontent.com/23501322/39983782-7a2c9ac4-578b-11e8-9ae2-9b3d9f0a668e.png)
the train is very slowing

[2018-05-14 13:10] rafaelvalle commented on #3
It should be possible. You'll need to load the weights onto the PyTorch bindings.

[2018-05-14 13:12] rafaelvalle commented on #17
That is great to know, @maozhiqiang!
What exactly is slow? the training iteration or the time it takes to learn attention?
What is your setup?

[2018-05-14 13:12] rafaelvalle commented on #15
Closing assuming there are no more issues.

[2018-05-14 13:12] #15 closed

[2018-05-14 13:14] rafaelvalle commented on #16
`export CUDA_VISIBLE_DEVICES="0" and then executing the train.py is successful! But the step time is reported as 4 sec on a Pascal.`
Is this with DataParallel or Distributed? Distributed is considerably faster than DataParallel.

Number of iterations to reach decent model is data, pre-processing and GPU dependent.
The model is decent once it has learned attention.

[2018-05-14 14:38] rafaelvalle commented on #17
@begeekmyfriend please move this comment and discussion here: https://github.com/NVIDIA/tacotron2/issues/12

[2018-05-14 14:45] begeekmyfriend commented on #12
I am glad to say I have transplanted some code from Rayhane Mamah's version into Keith Ito's one and it can get to convergence on small dataset (10h) within 8K steps. I will release my fork in several days since I want to find the way in minimal modification. I will notify you as well as Keith Ito at that time. But I think I can show some clues about the modification that the architecture seems a

[2018-05-15 00:34] abuvaneswari commented on #16
@rafaelvalle , thanks. I set CUDA_VISIBLE_DEVICES to one of the GPUs. I do not know if by default it is DataParallel or Distributed.

I asked the question about the num steps needed for a decent model because I see in some tacotron TTS repos (such as from keithito, mozilla/tts, kyubyong), the authors sharing the checkpoint and generated samples at a certain step # where the alignment is good and t

[2018-05-15 00:35] maozhiqiang commented on #17
@rafaelvalle I training useing one GPU ,so the training is so slowing !and the attention is not until the twenty thousand step begins to align！

[2018-05-15 01:15] rafaelvalle commented on #12
Thanks for sharing these! We'll do some comparisons and update this repo in accordingly.

[2018-05-15 01:53] begeekmyfriend commented on #12
Two more points:
First, expand the range of distribution of mel samples. [As we can see](https://github.com/Rayhane-mamah/Tacotron-2/blob/master/hparams.py#L31-L32) in https://github.com/Rayhane-mamah/Tacotron-2/issues/18#issuecomment-382637788, Rayhane expanded the range of mel points and make the distribution symmetric. That is important for convergence which he did not say.
Second, use cumulati

[2018-05-15 04:08] rafaelvalle commented on #12
Thanks for sharing these, Leo. While you do the experiments, it would be great if you could also annotate how important each of these things are.

[2018-05-15 09:11] shaunmayberry opened #18 "half-precision support on single GPU?"
Thanks for this repo. I have a Pascal-based card (GTX1080) and I switched training to using floating-point-16; to see if it improves training times. I've set `fp16_run` to True but I get an error.

`
Epoch: 0

Traceback (most recent call last):
  File "train.py", line 285, in <module>
    args.warm_start, args.n_gpus, args.rank, args.group_name, hparams)
  File "train.py", line 210, in train
    y

[2018-05-15 14:30] rafaelvalle commented on #18
We're looking into the FP16 run error.
Probably most of that performance time is spent on the CPU computing mel-spectrograms and can be amortized by pre-processing the mel-spectrograms and loading them from the disk.

[2018-05-15 14:32] rafaelvalle commented on #17
Training time is probably dominated by computing mel-spectrograms on the CPU and can be amortized by pre-processing the mel-spectrograms and loading them from disk.

We're looking into speeding up the model such that the attention is learned faster.

[2018-05-15 15:28] rafaelvalle commented on #17
@maozhiqiang What is your iterations per second time on average?

[2018-05-15 15:30] rafaelvalle commented on #18
@shaunmayberry What is your current setup?

[2018-05-15 15:54] rafaelvalle commented on #18
FYI: We've added the option to load mels from disk.

[2018-05-15 15:55] rafaelvalle commented on #17
FYI: We've added the option to load mels from disk.

[2018-05-15 16:07] rafaelvalle commented on #18
The FP16 error is a pytorch bug that is currently being fixed. We'll include our own patch soon.

[2018-05-15 16:50] shaunmayberry commented on #18
@rafaelvalle Thanks! I will try the option to load mels from disk after I make the changes needed to produce them to disk. My rig is set up with Pytorch 0.4, using the latest tacotron2 code prior to your updates from today. I am using LJ-Speech and I set `fp16_run` in hparams was to True.

[2018-05-15 16:54] #18 closed

[2018-05-15 17:30] shaunmayberry commented on #18
@rafaelvalle Thanks for the updates. I tried the update with `fp16_run` enabled. I am running the training with the mel analysis done on the fly and the batch size set to 24. The training seems to run after skipping the first few iterations. On the first few iterations a message is shown the iteration is skipped for overflow. I paste below the first ~60 lines. I suppose this is OK considering the

[2018-05-15 17:36] rafaelvalle commented on #18
Yes, that's expected feedback from dynamic loss scaling.

[2018-05-15 17:41] shaunmayberry commented on #18
@rafaelvalle Thanks

[2018-05-15 19:12] macarbonneau opened #21 "Tensorflow dependency"
Hi!
    Is tensorflow used something else than the hyper parameter object and tensorboard?

thx!

[2018-05-15 20:42] rafaelvalle commented on #21
Yes, Tensorflow is used just for hparams and tensorboard.

[2018-05-16 00:25] maozhiqiang commented on #17
@rafaelvalle thanks! The following is training log
[train_log.log](https://github.com/NVIDIA/tacotron2/files/2007095/train_log.log)

[2018-05-16 04:24] rafaelvalle commented on #17
@maozhiqiang What GPU do you have?

[2018-05-16 08:50] maozhiqiang commented on #17
P5000

[2018-05-16 16:35] rafaelvalle commented on #17
To me, the iterations per second seem comparable to what I've seen with Taco 2 implementations.
It should be less of a hassle once we improve model to learn attention faster.

[2018-05-17 00:29] maozhiqiang commented on #17
@rafaelvalle thanks!

[2018-05-17 06:11] idharmateja opened #22 "Failed to interpret wav file as pickle."
I am getting following error when I ran the train script.
I don't see any preprocessing step to convert WAV to pickle files in README. Any leads ?

Traceback (most recent call last):
  File "train.py", line 288, in <module>
    args.warm_start, args.n_gpus, args.rank, args.group_name, hparams)
  File "train.py", line 206, in train
    for i, batch in enumerate(train_loader):
  File "/nfs_home/dvoo

[2018-05-17 06:26] rafaelvalle commented on #22
You set `load_mel_from_disk=True` but you're trying to load WAV files.

[2018-05-17 13:40] rafaelvalle commented on #12
Thanks a lot for doing this work, @begeekmyfriend. Are you interested in putting a PR with this modifications to this repo?

[2018-05-17 22:54] glennglennglenn commented on #3
@rafaelvalle are the Pytorch bindings for 8-bit mulaw nv-wavenet going to be integrated into this repo? Or will we need to figure out how to get them to work together?

[2018-05-17 23:13] rafaelvalle commented on #3
Integration is simple: just provide mel-spectrograms as input to the nv-wavenet pytorch bindings.
The pull request is here:
https://github.com/NVIDIA/nv-wavenet/pull/7/files

[2018-05-17 23:14] rafaelvalle commented on #3
For a follow-up with this issue please use this https://github.com/NVIDIA/nv-wavenet/pull/7/files where the pytorch bindings are being released.
Closing.

[2018-05-17 23:14] #3 closed

[2018-05-18 02:27] PetrochukM commented on #3
@rafaelvalle Reposted!

[2018-05-18 02:48] rafaelvalle commented on #10
The pytorch bindings for faster-than-real-time wavenet are here:
No need to listen to griffin-lim.
https://github.com/NVIDIA/nv-wavenet/pulls

[2018-05-18 02:49] rafaelvalle commented on #10
@nsmetanin we're currently making changes to the repo that will considerably reduce the numbers of iteration until the model learns attention.

[2018-05-18 14:01] rafaelvalle commented on #12
@begeekmyfriend please pull from the branch and let us know what your convergence time is
It attends to the full mel instead of the prenet drop out mel: this should increase convergence time considerably.
https://github.com/NVIDIA/tacotron2/tree/attention_full_mel

[2018-05-18 14:01] rafaelvalle commented on #17
@maozhiqiang please re-run your experiments on the branch below and and let us know what your convergence time is. In this branch, the model attends to the full mel-spectrogram instead of the prenet drop out mel: this should increase convergence time considerably.
https://github.com/NVIDIA/tacotron2/tree/attention_full_mel

[2018-05-20 19:26] rafaelvalle commented on #12
Closing this issue given that in our implementation attending to the decoder's output instead of the drop'ed out mels produces the same effect.

[2018-05-20 19:26] #12 closed

[2018-05-21 00:50] maozhiqiang commented on #17
@rafaelvalle thanks , I will try this

[2018-05-21 01:04] rafaelvalle commented on #17
@maozhiqiang great. We'll soon add dropout as well.

[2018-05-21 09:56] G-Wang opened #24 "scaling Mel Spectrogram output for Wavenet Vocoder"
Hello,

First of all thanks for the nice Tacotron 2 implementation.

I'm trying to use the trained Tacotron 2 outputs as inputs to r9r9's Wavenet vocoder. However his pre-trained wavenet works on scaled Mel Spectrogram between [0, 1].

What is the range for this tacotron 2 implementation, I'm having a hard time finding this out to use it for scaling.

For reference, this is r9r9's normalization fu

[2018-05-21 15:16] rafaelvalle commented on #24
Our [dynamic range compression] (https://github.com/NVIDIA/tacotron2/blob/master/audio_processing.py#L78) just apply the log on clamped values. We also provide a dynamic range decompression function [here](https://github.com/NVIDIA/tacotron2/blob/master/audio_processing.py#L87)

I think the code below is what you're looking for.

[code]

[2018-05-21 15:18] rafaelvalle commented on #24
Curious to hear your samples and to know if you trained with the most recent code that updates the input of the attention and decoder.

[2018-05-21 15:18] rafaelvalle commented on #22
Closing. Please re-open if there are further issues.

[2018-05-21 15:18] #22 closed

[2018-05-21 15:20] rafaelvalle commented on #10
@nsmetanin changes have been pushed to master. can you please train again and share the same plots? On LJS and with the default setup the model should learn attention in less than 30k iters.

[2018-05-22 05:11] G-Wang commented on #24
Thanks, that worked, (my model still needs some more training), I'm starting another run with the updated attention repository, will post back here with the entire pipeline (+ wavenet vocoder) once that's done.

[2018-05-22 23:00] kan-bayashi opened #25 "Some questions about the implementation"
Hi, thank you for sharing the great work.
I have some questions about the implementation.

First question is about padding in data preparation.
https://github.com/NVIDIA/tacotron2/blob/master/data_utils.py#L103-107
The value of `gated_padded[i]` will be all of 0 when the i-th length is the maximum length.
Is it correct?

Second question is about network architecture of decoder.
https://github.com/

[2018-05-22 23:31] rafaelvalle commented on #25
Hey @kan-bayashi.
1) It not really correct. Note that gate_padded is of length maximum mel length + 1. When updating gate_padded, we use the non-padded mels whose maximum length is maximum mel length.

2) What difference are you referring to? I think you refer to the 2 LSTMs on the decoder but want to make sure before replying.

[2018-05-23 00:51] kan-bayashi commented on #25
Hi @rafaelvalle. Thank you for quick response!

1.
Oh I overlooked the size of padded tensor.
Now I understood. Thank you.

2.
Yes. I refer to 2 LSTM part.
In my understanding, the inputs of first lstm layer is prenet outputs + encoder embedding, and the inputs of second layer is outputs of first lstm layer.
Finally, outputs of second layer is concatenated with encoder embedding, and those are inp

[2018-05-23 01:56] ine1113 opened #26 "Applying dropout at inference time"
Hello,

Fantastic implementation, and thank you for open-sourcing it!

I've noticed your implementation applies dropouts during inference time to several different layers, but to my understanding, dropouts should only be applied to the decoder prenet layers at inference time. I was wondering if there was any reasoning behind the current implementation.

Thanks!

[2018-05-23 02:25] rafaelvalle commented on #26
In our implementation, during inference time we disable dropout, for all layers except the prenet layer, by calling `model.eval`. Note that calling `model.eval()` has no effect on the prenet's dropout because `training` is hardcoded to true.
https://github.com/NVIDIA/tacotron2/blob/master/model.py#L99

[2018-05-23 02:26] ine1113 commented on #26
Understood. Thanks!

[2018-05-23 02:26] #26 closed

[2018-05-26 16:52] rafaelvalle commented on #25
2) We are currently testing the performance of 3 different implementations. The one that seems to resemble the paper the most, i.e. 2 Decoder LSTMs and 1 Attention LSTM is the slowest to learn attention but reaches lower training and validation losses much quicker.
Having said that, we need to run more tests to evaluate how important the difference in loss is.
We're also evaluating adding zoneout

[2018-05-28 01:29] kan-bayashi commented on #25
@rafaelvalle Thank you for your answer. I closed this issue.

[2018-05-28 01:29] #25 closed

[2018-05-31 04:10] root20 commented on #17
@maozhiqiang Could you share what Chinese corpus you have used?

[2018-05-31 15:54] rafaelvalle commented on #16
@abuvaneswari sorry for the slow response. You have a `FileNotFoundError`.
Please try creating a `logs/` folder in your tacotron2 and let us know if the problem persists.

[2018-06-03 23:51] MrBreadWater opened #27 "Windows Support?"
Can I install this on windows, since most of these commands are for linux? If I can, what would I need to do to install it?

[2018-06-04 00:27] maozhiqiang commented on #17
sorroy ! The data is not open!

[2018-06-05 07:17] ZuoChenFttS commented on #10
@rafaelvalle  Thanks for your open-source.
By using the default setup, It seems it failed to convergence in my experiment using LJSpeech.
In the repo, it seems never change learning rate. Do you have any experience to share about learning rate? Accoding to the [original paper](https://arxiv.org/pdf/1712.05884.pdf) in section 3.1：a learning rate of 10^-3 exponentially decaying to 10^-5 starting aft

[2018-06-05 15:08] rafaelvalle commented on #10
FYI: We added an [audio example](https://raw.githubusercontent.com/NVIDIA/tacotron2/master/demo.wav) to the readme. You'll need to download the file to listen to it.

[2018-06-05 15:14] rafaelvalle commented on #10
@ZuoChenFttS  learning attention does not mean convergence. Learning rate schedules are data and model dependent. If you see spikes in the training loss or the training loss stops going down, resume from an earlier training loss with lower learning rate.

[2018-06-06 02:30] begeekmyfriend commented on #10
@rafaelvalle The spectrograms of your audio example looks very good. I guess you have not trained with wavenet right? How many iterations did you train out such model?
![image](https://user-images.githubusercontent.com/6031938/41012523-806b4dd6-6974-11e8-87b7-a070973896a1.png)

[2018-06-06 02:47] rafaelvalle commented on #10
This sample is from a Tacotron 2 model trained for 22500k iters on 8 GPUs.

[2018-06-06 03:27] begeekmyfriend commented on #10
Wow that is a miracle for me to know so little iters needed. I will try it out soon on your demo.

[2018-06-06 03:38] rafaelvalle commented on #10
*N.b. 8 GPUs.*

[2018-06-07 06:08] wugi88 opened #28 "Each time call taocotron2.inference(), I get different results."
Thank you for sharing great work.

Each time call taocotron2.inference(), I get different results.
If I understand correctly, I think it is due to dropout. Isn't it?

[2018-06-07 08:35] yliess86 opened #29 "Impossible to change n_frames_per_step"
First of all I would like to thank you for this incredible and clean repository.

I am actualy working on a school project and I need to perform TTS. The problem is that I only have a 8Go GPU (NVIDIA GeForce GTX 980M) and I can't afford a cloud instance or some sort of a AI Machine. So in order to make the training work I had to bring down the batch size to 24. I also tried, after reading the pape

[2018-06-07 14:30] rafaelvalle commented on #28
Yes. Please look at this issue:
https://github.com/NVIDIA/tacotron2/issues/26

[2018-06-07 14:30] #28 closed

[2018-06-07 14:33] rafaelvalle commented on #29
For 1, give us some time to debug the code.
For 2, can you please file a separate issue  and include your curves and alignment plots?

[2018-06-07 16:12] yliess86 opened #30 "Hard to train on one small GPU"
I wrote this issue in response to this [one](https://github.com/NVIDIA/tacotron2/issues/29).

The issue is that I am using an 8Gb GPU (NVIDIA GeForce GTX 980M) so I've brought down batch size to 24 with the LJ Speech dataset.
And after 4 days (I am now at  31k iterations), I do not see any improvement in the attention alignement. The loss is stucked between 0.7 and 0.5 almost since the start of th

[2018-06-07 16:14] yliess86 commented on #29
Thank you for this response.
1. I'll wait for it thank you.
2. Here is the new [issue](https://github.com/NVIDIA/tacotron2/issues/30)

[2018-06-07 19:47] rafaelvalle commented on #30
Thank you for sharing this. Please share your hparams files and training curve?
Did you train this with eight GTX 980M or a just single GTX 980M?
Did you do any modifications to the model, hparams or data?

[2018-06-07 19:56] yliess86 commented on #30
The only modification I did to the hparams here is the batch size which is now 24. And yes it is only with a signle GPU.

I don't know if you can access my tensorboard envents.out by clicking on the Logs url: ([Logs]())
If you prefere me to take some screenshots I can do it tomorrow.

Here are the params:
[code]

[2018-06-07 20:04] rafaelvalle commented on #29
We currently only support 1 frame per step.
Please submit a PR if you modify the code to support multiple frames per step: it requires modifying the gating mechanism.

[2018-06-07 20:09] rafaelvalle commented on #30
Please do share an image of the training/validation/etc curves.

[2018-06-08 01:00] wugi88 commented on #28
Thank you.
I saw that issue. But, If I understand correctly there is one more dropout that doesn't return identity. (in Postnet)

-------------------
model.inference
-------------------
<bound method Tacotron2.inference of Tacotron2(
  (embedding): Embedding(80, 512)
  (encoder): Encoder(
    (dropout): Dropout(p=0.0)
 ....
  (postnet): Postnet(
    (dropout): Dropout(p=0.5)

[2018-06-08 01:15] IwraStudios commented on #16
@rafaelvalle `mkdir logs` fixes the error, but it keeps waiting on the other process (last line in multiproc.py) without actually training

[2018-06-08 02:21] wugi88 commented on #28
Thanks. I read that issue and understood it.

When I edited prenet's dropout like others dropout in same file, It returns same results when ever I call inference().

Is there any reason training is hardcoded in prenet's dropout?

I am training tacotron2 using Korean corpus, It works well.
But even though I used the same input, I sometimes got wrong pronunciation. So I made this issue.

[2018-06-08 03:30] rafaelvalle commented on #30
Can you please pull from master and train again?
On a single GPU with batch size 48 the model learns ok attention in 8k iterations.
![screen shot 2018-06-07 at 8 29 09 pm](https://user-images.githubusercontent.com/2302607/41137709-844da368-6a91-11e8-928e-d0e39e239b52.png)

[2018-06-08 03:31] rafaelvalle commented on #10
@begeekmyfriend here's your miracle: ok attention after 8k iterations on single gpu ;-)
![screen shot 2018-06-07 at 8 29 09 pm](https://user-images.githubusercontent.com/2302607/41137728-a6ddd10a-6a91-11e8-9feb-15e992bc2928.png)

[2018-06-08 03:39] rafaelvalle commented on #16
@IwraStudios can you please make sure there's not a distributed.dpt file in the folder from which you're running the model? If the file is there, try erasing it and running it again.
Let us know if it still doesn't work.

[2018-06-08 08:29] yliess86 commented on #30
I am finally starting to see improvement in the alignement.
![alignement](https://image.ibb.co/iXUUSo/alignement_1.png)
I think it is just taking so much time because of the batch size (24) and because of my GPU. I will let you know when the model will generate descent sounds and give you all my curves.

[2018-06-08 09:27] ZuoChenFttS commented on #30
How many iterations you have done to see improvement in the alignement? And anything you think it is helpful to learn alignement?
I have train 29000 iterations with batch size 64 in a single GPU. I decay learning rate from 0.001 to 0.0002 slowly. other hparams is the same as this hparams.py
 here is my alignement plot at 29200 iterations:  it seems worse than your 31k iterations .
![default](https

[2018-06-08 09:59] yliess86 commented on #30
I did not have any alignement too at 29k iterations it just started to align after 31k and showing ~good~ alignement after 38k.
As you can see it was not good for me at 29k.
![29k](https://image.ibb.co/cAasxo/alignement_2.png)

[2018-06-08 10:13] begeekmyfriend commented on #10
@rafaelvalle I am glad you made it. But I also expect you can achieve convergence on ~10h small training dataset.

[2018-06-08 11:59] OptimusPrimeCao opened #31 "Where to download the pretrained model?"
Is there a way to get checkpoint_15500 in inference file?

[2018-06-08 15:20] rafaelvalle commented on #29
Closing. Please re-open if you think the issue is not solved.

[2018-06-08 15:20] #29 closed

[2018-06-08 15:21] rafaelvalle commented on #27
Closing. Please re-open if the issue is not solved.

[2018-06-08 15:21] #27 closed

[2018-06-08 15:28] rafaelvalle commented on #31
Checkpoint files are save to the `output_directory` that is specified when running the `train.py` command. The example code on our repo saves to `outdir`

[2018-06-08 15:30] rafaelvalle commented on #10
@begeekmyfriend please give it a try and let us know.

[2018-06-08 15:31] rafaelvalle commented on #17
Closing. Please re-open if the issues haven't been solved.

[2018-06-08 15:31] #17 closed

[2018-06-08 18:11] IwraStudios opened #32 "Distributed setup bug"
I got this error while executing the distributed setup described in README:
[code]
With a bit of searching it seems to be related to: https://github.com/pytorch/pytorch/commit/6b3a4637d6e87a543b3df6edb825c07d7dabe611#diff-28369e7c07a82d014949812f10d9a188

(And it also seems the same problem is/was in https://github.com/NVIDIA/sentiment-discovery/blob/master/model/distributed.py)

[2018-06-08 18:14] rafaelvalle commented on #32
@IwraStudios thanks for sharing.
@raulpuric any thoughts on this given that we had a similar problem in our sentiment-discovery repo?

[2018-06-08 18:16] IwraStudios commented on #16
@rafaelvalle It fixes the problem but now a different problem has arisen: #32

[2018-06-08 18:18] IwraStudios commented on #32
@rafaelvalle Found the issue from sentiment-discovery on the topic https://github.com/NVIDIA/sentiment-discovery/issues/16

[2018-06-08 18:30] rafaelvalle commented on #32
@IwraStudios can you share the full error trace?

[2018-06-08 18:32] IwraStudios commented on #32
Ah right sorry about that
[code]

[2018-06-08 18:42] rafaelvalle commented on #32
@IwraStudios thank you. we currently do not have the cycles to work on fixing this bug.
If you're ok with using DistributedDataParallel without FP16, just disable FP16.

[2018-06-08 18:55] IwraStudios commented on #32
Alright, I'll disable it for now.
Shall I close the issue or do you want to keep it open until fp16 gets fixed?

[2018-06-08 19:05] rafaelvalle commented on #32
Let's keep it open as a record that the issue has to be solved!

[2018-06-09 02:11] MrBreadWater opened #33 "CUDA Runtime Error: Out of Memory"
I finally got all the errors resolved, but then this new one came up:
`RuntimeError: cuda runtime error (2) : out of memory at /pytorch/aten/src/THC/generic/THCStorage.cu:58`

Here is the full log:
`~/tacotron2$ python3 train.py --output_directory=outdir --log_directory=logdir
FP16 Run: False
Dynamic Loss Scaling: True
Distributed Run: False
cuDNN Enabled: True
cuDNN Benchmark: False
/home/mrbread

[2018-06-09 02:58] rafaelvalle commented on #33
Try decreasing batch size.

[2018-06-09 04:26] MrBreadWater commented on #33
I did, all the way down to 16, but that didn't change anything. I can go
lower, but that seems suspiciously low.

On Fri, Jun 8, 2018 at 7:58 PM Rafael Valle <notifications@github.com>
wrote:

[2018-06-09 18:46] rafaelvalle commented on #33
I don't know from memory but I think the GTX 1050 TI has 4gb of memory, thus you should use a batch of samples. Please try with batch size 12 and let us know.

[2018-06-10 23:27] rafaelvalle commented on #33
Try batch size 8.

[2018-06-11 08:22] NewEricWang opened #34 "compile error!"
Hi, When I run "sudo pip install -r requirements.txt", I get an error " Could not find a version that satisfies the requirement torch==0.2.0.post3" . I successfully install pytorch by anaconda, command likes "sudo ./bin/conda install pytorch torchvision -c pytorch".  My python's version is 2.7 in anaconda. How can I resolve the error?

[2018-06-11 08:43] OptimusPrimeCao commented on #31
@rafaelvalle
When I run train.py with default hparams on 8GB 1080 gpu, I get this error. I change batchsize to 24 but the error still exists!
[code]

[2018-06-11 09:53] ZuoChenFttS commented on #34
try to remove the line 'torch==0.2.0.post3' in requirements.txt?

[2018-06-11 10:48] tatamyans commented on #33
out of memory error is gone, but python crashes after saving model :
Unhandled exception at 0x0000000076FAA0F2 (ntdll.dll) in python.exe: 0xC00000FD: Stack overflow (parameters: 0x0000000000000001, 0x0000000000123FF8).

python 3.5, 3.6 same thing
maybe unrelated

[2018-06-11 15:17] rafaelvalle commented on #34
@NewEricWang, please try what @ZuoChenFttS and let us know how it goes.

[2018-06-11 15:19] rafaelvalle commented on #33
@tatamyans can you provide a full error trace?

[2018-06-11 18:41] tatamyans commented on #33
sorry, can't provide full trace now, maybe later, thanks

[2018-06-12 01:21] NewEricWang commented on #34
@rafaelvalle ， @ZuoChenFttS ， Thank you! I have changed  "torch==0.2.0.post3"  to "torch==0.4.0", then the compile is successful.
But when I run train.py using the command "/usr/bin/python train.py --output_directory=works --log_directory=works/log" , I get another error "RuntimeError: torch/csrc/autograd/variable.cpp:115: get_grad_fn: Assertion `output_nr == 0` failed.". Could you give me some hi

[2018-06-12 01:25] maozhiqiang opened #35 "inference failed"
when eval the model ! has a  error！

RuntimeError                              Traceback (most recent call last)
<ipython-input-4-84fac00df448> in <module>()
      5 except:
      6     pass
----> 7 model.load_state_dict({k.replace('module.',''):v for k,v in torch.load(checkpoint_path)['state_dict'].items()})
      8 _ = model.eval()

/home/btows/anaconda3/lib/python3.6/site-packages/torch/nn/modu

[2018-06-12 04:43] ZuoChenFttS commented on #30
@rafaelvalle
thanks for your help.
I trained the master in the last weekend. After 9600 iterations, I get the alignement plot here. It seem start learn "good" alignment.
![9600](https://user-images.githubusercontent.com/24040092/41270235-aac0387c-6e3c-11e8-833e-d68231b3240d.png)
I'll continue to train it. When the model will generate good sounds, I will share a example audio and the curves.

[2018-06-12 09:40] NewEricWang opened #36 "ModuleNotFoundError: No module named 'PIL'"
Hi, When I run command "/usr/bin/python train.py --output_directory=works --log_directory=works/log --hparams=batch_size=4" , I get a error "ModuleNotFoundError: No module named 'PIL'". Full log is as follows:
FP16 Run: False
Dynamic Loss Scaling: True
Distributed Run: False
cuDNN Enabled: True
cuDNN Benchmark: False
/qwork1/hlw74/ttswork/tacotron2/layers.py:35: UserWarning: nn.init.xavier_uniform

[2018-06-12 09:41] #34 closed

[2018-06-12 13:53] yliess86 commented on #30
@rafaelvalle
No, this was not using the latest changes since I started the training 9 days ago. It about the same state as @ZuoChenFttS now. Considering I need to make a prototype for my projet I will continue trainning my model with this version. (Don't want to stop now after 9 days)
But I will definitly retrain it with the new changes after.

[2018-06-12 13:58] yliess86 commented on #24
Hi @G-Wang  ! Have you gone further with your training ? I am currently doing the same thing as you and the voice I get from Wavenet sounds like if it has the flu. Did you managed to have good results ?

[2018-06-12 14:04] yliess86 commented on #36
Have you tried these commands ?
`sudo pip3 install pillow`
or
`sudo apt-get install python3-PIL`

[2018-06-12 15:51] rafaelvalle commented on #31
This is **probably** related to your CPU not being able to load the data.
Try changing the number of workers or smaller batch size.

[2018-06-12 15:55] rafaelvalle commented on #35
I think this is a pytorch version related problem.
What is your pytorch version?
Are you running the code from master without modifications?

[2018-06-12 15:57] rafaelvalle commented on #30
Sounds good! We modified the embedding layer to be initialized with xavier uniform and this change makes it learn attention faster.
You're attention looks good! Just keep training an anneal the learning rate once the slope of the training loss becomes flat.

[2018-06-12 15:59] rafaelvalle commented on #34
@NewEricWang: What caused and how did you fix the `output_nr == 0` error?

[2018-06-12 16:02] rafaelvalle commented on #16
Closing. Please re-open if there's still an issue.

[2018-06-12 16:02] #16 closed

[2018-06-12 16:05] rafaelvalle commented on #24
@yliess86 can you share the audio and the mel-spectrogram that sounds like it has the flu here?

[2018-06-12 16:49] G-Wang commented on #24
Hello @yliess86, due to my limited compute, I had to set the batch size pretty low to fit everything into the GPU (batch_size of 18), the network's loss was stuck around 0.63 for quite a while, so I didn't continue. however that was older version of the code. I've started running a new training with the latest code since yesterday.

But note that the solution @rafaelvalle  provided works no proble

[2018-06-13 00:45] maozhiqiang commented on #35
I compiled with the latest Pytorch ! the code is master  without modifications!

[2018-06-13 02:49] rafaelvalle commented on #35
@raulpuric any thoughts on this error?

[2018-06-13 03:10] raulpuric commented on #35
That's strange behavior.
Can you print(model.state_dict()['keys']).
Is there any chance you are running BatchNorm with track_running_stats=False?

[2018-06-13 03:51] minimumnz opened #38 "Hangs when operating in multi-gpu mode."
I got this to train with a single GTX 1080TI but when trying to run it on machine with 4 * GTX 1080TI

it never returns from:

torch.distributed.init_process_group(
        backend=hparams.dist_backend, init_method=hparams.dist_url,
        world_size=n_gpus, rank=rank, group_name=group_name)

I've tried a few different parameters for backend (nccl, tcp, gloo). I installed nccl from nvidia.

These

[2018-06-13 04:15] MXGray opened #39 "Possible GPU Memory Leak - Mem Usage Keeps on Increasing with Every Iteration"
I'm on Ubuntu 16.04, CUDA 9.1, CUDNN 7.1, one P6000 GPU (compute 6.1) with 16 Gb VRAM, Python 3.6, Pytorch 0.4 and all other required libraries are successfully installed and properly working.
Tried batch sizes 4, 8, 12, 16, 24, 44 and 48.
Always get out of memory error after some time.

Training starts, and GPU VRAM usage keeps on increasing with every iteration.
I tried correcting a couple of li

[2018-06-13 04:28] rafaelvalle commented on #38
Please check if there is a `distributed.dpt` file inside the folder where your running the model.
If there is such a file, please erase it, start training again, wait until `distributed.dpt` is created and observe it's contents.
it should have something of the sort but not exactly:
[code]

[2018-06-13 04:40] rafaelvalle commented on #39
Thank you for reporting this.
Can you build a docker container using this [docker file](https://github.com/NVIDIA/tacotron2/blob/master/Dockerfile) and let us know if the error persists?

Regarding running with CUDA 9.1 and CUDNN 7.1:
Are you using the default values in hparams?
Can you pin point where the increase in memory is occurring with the default hparams?
My two guesses are that it occurs

[2018-06-13 06:21] MXGray commented on #39
@rafaelvalle
This happened again:

Train loss 254 0.974303 Grad Norm 1.096113 18.54s/it
THCudaCheck FAIL file=pytorch_1524584710464/work/aten/src/THC/generic/THCStorage.cu line=58 error=2 : out of memory
Traceback (most recent call last):
  File "train.py", line 291, in <module>
    args.warm_start, args.n_gpus, args.rank, args.group_name, hparams)
File "train.py", line 216, in train
    y_pred =

[2018-06-13 07:07] maozhiqiang commented on #35
..../tacotron2/layers.py:35: UserWarning: nn.init.xavier_uniform is now deprecated in favor of nn.init.xavier_uniform_.
  self.conv.weight, gain=torch.nn.init.calculate_gain(w_init_gain))
.../tacotron2/layers.py:15: UserWarning: nn.init.xavier_uniform is now deprecated in favor of nn.init.xavier_uniform_.
  gain=torch.nn.init.calculate_gain(w_init_gain))
-------------------------------------------

[2018-06-13 08:36] MXGray commented on #39
@rafaelvalle
Still got the error even with the dockerfile. Here's what happened with batch_size 12:

Train loss 107 0.993192 Grad Norm 0.723081 11.45s/it
THCudaCheck FAIL file=/pytorch/aten/src/THC/generic/THCStorage.cu
line=58 error=2 : out of memory
Exception ignored in: <bound method _DataLoaderIter.__del__ of <torch.utils.data.dataloader._DataLoaderIter object at 0x7f4070db6da0>>
Traceback (mo

[2018-06-13 08:47] yliess86 commented on #24
@G-Wang Ok thank you.
@rafaelvalle Sure! I will share audio and mel-spec today.

[2018-06-13 10:01] yliess86 commented on #24
Here are the text, the corresponding audio and the corresponding mel-spectrogram:
- 'This is an example of text to speech synthesis after 9 days training. This may sound awful, but it is a start.'
- [Audio](https://instaud.io/2jfI)
![Mel-Spec](https://image.ibb.co/feuJVJ/mel_spec_0.png)

[2018-06-14 00:54] yhgon commented on #32
@IwraStudios

One solution for   distributed FP16 training for Tacotron2 would be use NGC:18.03-py3  and simple patch.
I already build docker images you would just use `docker pull hryu/pytorch:t2-2` it is base on NGC 18.03 which based on  pytorch 0.3 and APEX patch. see detail [Dockerbuild](https://github.com/yhgon/tacotron2/blob/master/Dockerfile) file. after that, you need to implement simple p

[2018-06-14 02:34] cuicp opened #40 "about pretrained wavenet_vocoder?"
I downloaded the latest code and trained 118 epochs,  and then downloaded the pre-trained wavnet vocoder(https://github.com/r9y9/wavenet_vocoder/) which trained with LJSpeech, but i could not synthesize audio similar to human voice.  Can you share which pre-trained wavnet vocoder  you used to synthesize the "demo.wav"? Thank you very much!

[2018-06-14 08:19] yliess86 commented on #40
Hi @cuicp, by any chance could I ask you what is your loss at epoch 118 ?

[2018-06-14 09:11] ZuoChenFttS commented on #30
@yliess86  I see you ask things about loss in other issues.
My Validation loss 19600 iters: 0.486099 about 100 epoch with batch size 64.
And what your loss now?
Now, my model can synthesize some audio, which I can recognition the words but the sound have a lot noise. By the way, my synthesize audio code is like inference.ipynb, so I do not use wavnet vocoder.

[2018-06-14 09:34] yliess86 commented on #30
@ZuoChenFttS Hi, I've started training mine before the changes in master (without xavier initialisation) so my validation loss is 0.46 on 100000 iterations with batch 24. The audio is quite audible and we can esaily understand what it says but their still is noise and when I use wavenet it sounds like it has the flu.
I don't know if we can achieve the same loss with this repo, Rayhane-mamah implem

[2018-06-14 14:54] rafaelvalle commented on #40
We used the WaveNet available at https://r9y9.github.io/wavenet_vocoder/
Note that you must adapt the mel output of Tacotron 2 to Ryuchi's mel representation.
Here are some basic guidelines:
[code]

[2018-06-14 14:54] rafaelvalle commented on #24
@yliess86 Can you share the mel-spectrogram file?

[2018-06-14 15:01] rafaelvalle commented on #30
@ZuoChenFttS Can you share your audio sample, image of mel spectrogram and mel spectrogram file? Using the WaveNet decoder is very important for audio quality!
@yliess86 the loss is not directly comparable because Rayhane-Mamah uses a Mel representation different from this repo. I don't remember exactly but think that the demo sample on this repos was generated with a model with ~0.4 loss.

[2018-06-14 15:10] yliess86 commented on #24
@rafaelvalle I plugged the output of the tacotron2 to the convertion pipline you described above and finally plugged it into the r9y9 wavenet. The image you can see is the plt plot I did just before the convertion. Do you want me to give you the output (mel-spec) into a .npy file or other ?

[2018-06-14 15:20] yliess86 commented on #30
@rafaelvalle Thank you I wasn't sure about this.

[2018-06-14 15:20] rafaelvalle commented on #24
Yes, please do share the mel-spec into a torch or npy file.

[2018-06-14 15:46] yliess86 commented on #24
Here is the file: [Mel-Spec](https://1drv.ms/u/s!Avn9GxYVpH4aa4396i4SY3aNtMw)

[2018-06-14 15:59] rafaelvalle commented on #24
@yliess86 The model that produced this mel-spectrogram was not trained on LJ Speech dataset, right?

[2018-06-14 16:06] yliess86 commented on #24
It was. I trained the model with the LJ Speech dataset. This mel Spec is the result of 70000 iterations on this dataset.

[2018-06-14 16:13] rafaelvalle commented on #24
That's unexpected. Did you train using the default params?

[2018-06-14 16:18] yliess86 commented on #24
Yes, I just changed the batch size to 24. I'll try to download it again and retrain the model. It was the LJ Speech dataset from the link given on the rayhan repository so maybe this is not exactly the same.

[2018-06-14 16:30] rafaelvalle commented on #24
What were the training and validation loss of the model used to produce that mel spectrogram?

[2018-06-14 16:31] yliess86 commented on #24
The training loss was between 0.3 and 0.5 and the validation one was 0.46

[2018-06-14 17:16] raulpuric commented on #35
sorry I meant model.state_dict().keys()

[2018-06-14 18:14] rafaelvalle commented on #24
Don't retrain the model yet. We're seeing a similar behavior and are working on it.

[2018-06-14 18:46] yliess86 opened #41 "Problem with the Mel Spectrogram Representation"
Request from issue [#24](https://github.com/NVIDIA/tacotron2/issues/24):
After training the model (70,000 iterations, val loss: 0.46, 0.34<= loss <= 0.49) and converting the obtained mel spectrogram to be feeded to the r9y9's wavenet vocoder, it turns out to sound like the voice has the flu.

- Text: `'This is an example of text to speech synthesis after 9 days training. This may sound awful, but

[2018-06-14 21:09] rafaelvalle commented on #41
The representation of the mel-spectrograms output by the Tacotron 2 model you trained does not match the mel-spectrogram used in r9y9's MoL WaveNet. More specifically, the minimum and maximum mel-spectrogram frequencies are different.

The code below converts a mel trained with the default mel-spectrogram representation in this repo to the representation used in r9y9's shared WaveNet MoL. Ideally

[2018-06-14 21:10] rafaelvalle commented on #41
The first few frames of the mel-spectrogram you provided sounds like this:
[yliess86_audio_trim.wav.zip](https://github.com/NVIDIA/tacotron2/files/2104012/yliess86_audio_trim.wav.zip)

[2018-06-15 03:13] ZuoChenFttS commented on #30
@rafaelvalle
Here is an audio example and mel_outputs file. This is not using wavenet decoder, I will try it later.
text = 'The Secret Service believed that it was very doubtful that any President would ride regularly in a vehicle with a fixed top, even though transparent.'
[english_23200iter.zip](https://github.com/NVIDIA/tacotron2/files/2104655/english_23200iter.zip)

plot pic:
![english_23200](

[2018-06-15 04:42] MXGray commented on #41
@rafaelvalle
Hope you could help me figure out if the default Tacotron2 hparams of this repo is a match to the nv-wavenet hparams I used below?
Or if not, how can I ensure that it matches?

config.json of nv-wavenet/pytorch:

    "data_config": {
        "training_files": "train_files.txt",
        "segment_length": 22050,
        "mu_quantization": 256,
        "filter_length": 1024,
        "hop

[2018-06-15 06:52] rafaelvalle commented on #41
Yeah, it matches.

[2018-06-15 07:01] rafaelvalle commented on #30
@ZuoChenFttS Your audio has "noise" because it was synthesized using Griffin-Lim. You'll need WaveNet to reach state of the art quality.

[2018-06-15 07:06] rafaelvalle commented on #10
@begeekmyfriend this ~10h small training dataset you talk about... where is it available?

[2018-06-15 07:20] MXGray commented on #41
@rafaelvalle - Thanks!
However, I got this error when I tried Tacotron2 inference.py (converted it from ipynb) and took the mel-spectrogram to nv-wavenet:

RuntimeError: Expected 4-dimensional weight for 4-dimensional input [1, 1000, 513, 1], but got weight of size [80, 80, 1024] instead

I don't think I'm doing it right.
In tacotron2/inference.py, how do I use this?

mel = torch.load(spec_from_me

[2018-06-15 08:38] begeekmyfriend commented on #10
@rafaelvalle My GPU is unavailable in some days. You can cut some of the data of `LJSpeech` into 10h and try to get convergence within 10K steps.

[2018-06-15 09:42] MXGray opened #42 "Can't Figure Out How to Take Mel-Spectrogram from nvidia/tacotron2 to nv-wavenet/pytorch (I'm new to Pytorch)"
Got this error when I tried Tacotron2 inference.py (converted from ipynb) and took the mel-spectrogram to nv-wavenet/pytorch/inference.py:

RuntimeError: Expected 4-dimensional weight for 4-dimensional input [1, 1000, 513, 1], but got weight of size [80, 80, 1024] instead

I don't think I'm doing it right.
In tacotron2/inference.py, how do I use this?

mel = torch.load(spec_from_mel) #Or mel_outpu

[2018-06-15 10:08] yliess86 commented on #41
@rafaelvalle It is now working. [Tank you for the help!](https://instaud.io/2jKb)
When I will finish my prototype I will probably retrain both models with the same mel representation.

[2018-06-15 14:45] rafaelvalle commented on #41
Closing. Please re-open if new issues appear!

[2018-06-15 14:45] #41 closed

[2018-06-15 14:55] rafaelvalle commented on #42
nv-wavenet's inference.py takes a torch.FloatTensor with 2 dimensions, i.e. 80 by time.
In Tacotron2 you'll need to do this modifications to mel_outputs_postnet before saving:
    remove the batch dimension, i.e. [1, 80. Time] -> [80, Time]
    unwrap it from the Variable, i.e. mel_outputs_postnet = mel_outputs_postnet.data

You can also add something along these lines (not tested) to the ipython

[2018-06-15 14:59] rafaelvalle commented on #10
I thought you were talking about a specific dataset. We've been able to train on 10h datasets and are currently trying to get a model working on 1h of data.

[2018-06-15 16:54] rafaelvalle commented on #10
No.

[2018-06-16 04:50] minimumnz commented on #38
Thanks I got passed this error with this.

[2018-06-16 07:28] MXGray commented on #42
@rafaelvalle
Hi. I tried adding the lines you recommended to the ipython notebook (since I don't know how to do the other thing you said because I'm new to Pytorch), but:
I got this error:

  File "inference.py", line 101, in <module>
nv_wavenet.add_cond_input(mel_outputs_postnet[:, :, :-1])
AttributeError: 'NVWaveNet' object has no attribute 'add_cond_input'

So, I tried this:

cond_input = mel_o

[2018-06-16 12:35] 18810319795 opened #43 "Update .wav paths: sed -i -- 's,DUMMY,ljs_dataset_folder/wavs,g' filelists/*.txt Alternatively, set load_mel_from_disk=True in hparams.py and update mel-spectrogram paths"
But I can not find where i can update mel-spectrogram paths,who can help me?

[2018-06-16 12:59] MXGray commented on #42
@rafaelvalle
Solved! Now to train Tacotron2 and NV-WaveNet more.  :)
Here's what I did in tacotron2/inference.py:

mel = torch.autograd.Variable(mel_outputs_postnet)
mel = mel.reshape(80,1000)
mel = mel.data

filename = '/path-to-nv-wavenet/pytorch-directory/file.pt'
mel = torch.save(mel, filename)

Then, I just used subprocess to run nv-wavenet/pytorch/inference.py to process the newly saved .pt

[2018-06-16 12:59] #42 closed

[2018-06-16 12:59] MXGray commented on #42
Solved with rafaelvalle's valuable guidance. :)

[2018-06-18 02:34] MlWoo commented on #38
@minimumnz I met the same problem, too. I also want to run the model on 2 GPUs in one node. Below is the commandline which I ran.
[code]
But the content of dpt file generated is below:
[code]
 and @rafaelvalle, would you like to give any suggestions to me ? Thanks in advance.

[2018-06-18 03:17] rafaelvalle commented on #38
Great. Closing the issue.

[2018-06-18 03:17] #38 closed

[2018-06-19 00:41] MlWoo opened #44 "'Parameter' object has no attribute '_execution_engine' when running with multi-GPUs"
An error happened when the repo runned on 2-gpus of single node with the commandline:
[code]
The import info echoed at the begining is below:
[code]
Then an error occured:
[code]
And the significant dpt file was also not generated in the folder although the info showed the initialization was Done.

I also tried to run the repo with the commandline:
[code]
Then it hung at the initialization like wh

[2018-06-19 01:06] #44 closed

[2018-06-19 02:04] MXGray commented on #39
Still haven't found the cause of this.
I've tested two machines already.
Machine A has 1 P6000 16Gb VRAM.
Machine 2 has 1 Tesla V100 16Gb VRAM.
...
Have also placed torch.cuda.empty_cache() and gc.collect() in main loop.
Still get CUDA out of memory error.
Have tested downgrading to CUDA 8 and CUDNN 6, installed Pytorch 0.4.0 CUDA80 and Tensorflow 1.3 (and 1.6) for machine A.
CUDA out of memory er

[2018-06-19 06:43] MXGray commented on #39
Finally! I've identified the cause of this problem.
Despite running my getlength.py script through my raw dataset to separate a dev dataset, it still got mixed up with some audio files with lengths beyond the largest lengths of the files in the LJSpeech-1.1 dataset.
Now running 64 batch size in machine with 1 Tesla V100 16Gb VRAM GPU.  :)
Closing this now ...
BTW, largest length of files in LJSpee

[2018-06-19 06:43] #39 closed

[2018-06-19 06:45] MXGray commented on #39
Resolved issue by re-separating files from raw private dataset to dev dataset with max lengths the same as max lengths of files in LJSpeech-1.1 ...

[2018-06-19 14:36] rafaelvalle commented on #39
@MXGray can you share your optimizations for handling CUDA memory and RAM?

[2018-06-19 14:37] rafaelvalle commented on #44
Probably there's a solution here: https://github.com/NVIDIA/tacotron2/issues/32

[2018-06-20 00:43] MlWoo commented on #44
@rafaelvalle Yeah, I did resovle the problem with that solution actually.

[2018-06-21 01:35] MXGray commented on #10
@rafaelvalle
Hi. Just want to clarify something.
You said the sample WAV is from this repo trained at 22500 iters with 8 GPUs; and
Was batch size 384 (48 x 8), or something else? Please advise. Thanks!

[2018-06-21 01:56] begeekmyfriend commented on #10
I have discovered that 22050Hz should be the baseline sample rate for audio quality. I have made a mistake that 16KHz is bad for audio analysis. See https://github.com/Rayhane-mamah/Tacotron-2/issues/80

[2018-06-22 01:43] NewEricWang opened #45 "How to generate wave or mel-spectrum by tacotron2?"
Hi, I have trained some models on LJ database by tacotron2 successfully. Now I want to synthesis waveform or generate mel-spectrum feature.  I don't know how to use jupyter notebook because I use remote terminal to work. So my questions are :
1. How to synthesize waveform and save it to given file on remote server?
2. How to generate mel-spectrum feature and save it to given file on remote server?

[2018-06-22 09:23] deli666 opened #46 "Trainning data for wavenet_vocoder"
I trained this model with my own dataset and want to train wavenet_vocoder after this. But I am confused what is the training data for wavenet_vocoder? Mel_spectrogram generated by this model or generated by sftf?
Besides, what do you mean by "When performing Mel-Spectrogram to Audio synthesis with a WaveNet model, make sure Tacotron 2 and WaveNet were trained on the same mel-spectrogram represent

[2018-06-24 13:12] harlyh commented on #46
1) While you train Tacotron, Audio is converted to Mels and the Mel+Label(text) pairs are fed to Tacotron. After successful training you should have a model, which can generate Mels from Text.
Now for wavenet you feed the synthesised Mels+Audio samples to Wavenet. This eventually should produce a model, which is able to Synthesize Mels into ncie Audio.
So to summarise:
* Tacotron training needs Au

[2018-06-25 02:41] deli666 commented on #46
Thank you so much for your answer!

[2018-06-25 09:35] NewEricWang opened #48 "Inference failed:cannot import name _flatten_dense_tensors"
Hi, when I run inference, I get a error "ImportError:  cannot import name _flatten_dense_tensors".
Any help would be greatly appreciated! Thanks in advance!

[2018-06-25 14:23] MXGray opened #49 "Incomprehensible Audio After 70K Iterations - What Could I be Doing Wrong?"
Have tested with batch size 48, but same result after 26K iters.
Continued with batch size 8 up to 70K iters, but still same result.
I'm using a private augmented American English dataset (500++ hours) with same audio properties as LJSpeech WAVs (22,050 KHz, 16-bit, max length 10092).
Saved GL-synthesized WAV and fig found below for text "I am testing text to speech synthesis of this Tacotron2 mod

[2018-06-25 15:09] harlyh commented on #46
Well, haven't actually considered training Wavenet until I'm not satisfied with the Tacotron synthesis. Also I haven't tried using pre-trained Wavenet. But considering the intended workflow I do believe that Wavenet would produce the best results only when synthesising speech using the output from the same Tacotron model as was used during Wavenet training. However, I'm not saying that you can't d

[2018-06-25 20:23] gsoul commented on #33
[code]

I get this when I try to do inference on 1080ti.

Training works fine on separate gpu with batch size of 40 all other settings are default. Dataset is LJSpeech-1.1

@rafaelvalle could you please advise here?

[2018-06-25 20:39] gsoul commented on #33
Hm, perhaps I figured this out: PyTorch demanded GPU0 for inference. And as training was happening on in at the time - it gave OOM error.  could produce some speech after I stopped training.

[2018-06-26 01:43] MXGray commented on #31
@rafaelvalle
Can you share your pretrained Tacotron2 model and hparams that generated the sample audio?

[2018-06-26 01:48] MXGray commented on #10
@rafaelvalle
Can you share your pretrained Tacotron2 models and hparams for the 22500 iters trained with 8 GPUs and for the 8K iters trained with one GPU?

[2018-06-26 02:40] deli666 opened #50 "Not sure how to generate mels to be used with a pre-trained wavenet vocoder."
I put the inference.ipynb code into inference.py code so that it can run on gpu and save plots, audio (Griffin_lim) and mel_spectrgram.
The plots and audio are good, but when I put the generated Mel into pretrained wavenet_vocoder(https://github.com/r9y9/wavenet_vocoder) , the audio generated is not reasonable.
I wonder if this way of save mel-spectrogram is wrong.

 mel_outputs, mel_outputs_postn

[2018-06-26 04:14] deli666 commented on #40
For generating audio sample with pre-trained wavenet_vocoder, do I need to apply the methods in both repos? or just apply in one of them?

[2018-06-26 05:07] #45 closed

[2018-06-26 05:07] #48 closed

[2018-06-26 09:01] deli666 commented on #40
Can you show more details about how to generate mel-spectrograms that can be synthesized by pre-trained wavenet_vocoder? I tried some methods but get only noises. The audio generated by Griffin-Lim sounds good.

[2018-06-26 14:58] rafaelvalle commented on #40
@deli666 What exactly do you need?

[2018-06-26 15:04] rafaelvalle commented on #50
Save mel_outputs_postnet, not mel_outputs.
Then you must process the mel-spectrogram such that it is the same as the one used to train your pre-trained model.

The code for pre-processing mels for Ryuchi's wavenet is in this issue:
https://github.com/NVIDIA/tacotron2/issues/40

[2018-06-26 15:07] rafaelvalle commented on #31
@OptimusPrimeCao The model uses approximately 300MB per sample. Try reducing your batch size to 16.

[2018-06-26 15:08] rafaelvalle commented on #31
@MXGray We can share the hparams.
Please do not post the same message on multiple issues. I deleted your message from the Audio Examples issue.

[2018-06-26 15:11] rafaelvalle commented on #33
@gsoul yes, one can run into OOM if multiple sources are requesting memory from the same GPU. If you want to train and do inference at the same time, you could do inference on the CPU...

[2018-06-26 15:13] rafaelvalle commented on #46
Please check this issue where we explain how to use mels from a Tacotron that was trained on data that does not match the same processing as wavenet.

https://github.com/NVIDIA/tacotron2/issues/41

[2018-06-26 15:15] rafaelvalle commented on #49
It looks like your model hasn't learn to attend to the input.
I can't tell why but do know that it's easier for the model to learn attention if the audio doesn't have silences at the beginning or the end, so, try trimming silences from the beginning and end of your audio files.

[2018-06-26 16:04] gsoul commented on #31
Please share the hparams.

[2018-06-26 16:19] gsoul commented on #33
No, I have 2 * 1080ti in my machine. And used CUDA_VISIBLE_DEVICES to separate inference and training into separate gpus, but was getting error above, until stopped training on gpu0.

[2018-06-26 19:09] gsoul commented on #33
After thinking for some time - perhaps not. I ran:
[code]

But such command limits only ipython process rather than python process that communicates with gpus...

[2018-06-28 00:28] #35 closed

[2018-06-28 02:12] begeekmyfriend commented on #17
@maozhiqiang Would you please open your modification on this project for Chinese mandarin on your repo?

[2018-06-28 03:39] NewEricWang opened #51 "Incomprehensible Audio generated by GL-vocoder at 169K Iterations"
Hi, I have trained a model after 169K Iterations by tacotron2 with batch-size=8 on a 1080TI GPU. The training data is LJ-speech. But I get  incomprehensible Audio synthesized by GL-vocoder on this model.  The text to be synthesized is "All the wardsmen alike were more or less irresponsible."
![165k](https://user-images.githubusercontent.com/18108440/42011757-782fead4-7a84-11e8-879f-980b188061a6.pn

[2018-06-28 05:19] rafaelvalle commented on #51
What is your training and validation loss?

[2018-06-28 06:28] NewEricWang commented on #51
@rafaelvalle , I am sorry I am a novice in pytorch. How can I get the training and validation loss from the  log file or check-point file? How to draw the training and  validation curves? Could you give me some guides? Thank you in advance!

[2018-06-28 06:51] deli666 commented on #51
@NewEricWang You can use tensorboard:
tensorboard --logdir=outdir/logdir

[2018-06-28 07:16] deli666 commented on #50
@rafaelvalle Thank you so much for help!
I am using LJSpeech data to train this model (97k steps) and WaveNet_Vocoder(https://github.com/r9y9/wavenet_vocoder) (620k steps)

And here is the sound generated:
Text: "This is an example of the sound generated. It may sound awful, but it is just a start"
[GriffinLim.zip](https://github.com/NVIDIA/tacotron2/files/2144155/GriffinLim.zip)
[WaveNet.zip](htt

[2018-06-28 09:34] NewEricWang commented on #51
@deli666, Thank you very much!
@rafaelvalle, My training and validation loss curves are as follows:
![validation loss](https://user-images.githubusercontent.com/18108440/42026328-6195bb64-7ab6-11e8-8d52-01c24a5aba2d.png)
![validation loss](https://user-images.githubusercontent.com/18108440/42026335-673799a2-7ab6-11e8-8d17-cbcb214529ed.png)
![alignment](https://user-images.githubusercontent.com/181

[2018-06-28 17:09] rafaelvalle commented on #50
Thanks for sharing these, @deli666.
Did you train the wavenet vocoder yourself or did you use the wavenet vocoder on https://github.com/r9y9/wavenet_vocoder?

[2018-06-28 17:11] rafaelvalle commented on #51
@NewEricWang The tensorboard plot you shared goes only up to 50k iterations and did not learn attention. Synthesis should start working when the model learns attention, i.e. the alignment plot shows a diagonal line.

[2018-06-28 17:13] rafaelvalle commented on #40
@cuicp closing. please re-open if needed.

[2018-06-28 17:13] #40 closed

[2018-06-28 17:14] rafaelvalle commented on #30
Closing due to inactivity. Please re-open if needed.

[2018-06-28 17:14] #30 closed

[2018-06-28 17:15] rafaelvalle commented on #10
Closing due to inactivity. Please reopen if necessary.

[2018-06-28 17:15] #10 closed

[2018-06-29 01:47] NewEricWang commented on #51
@rafaelvalle , Thank you very much! I get it. So I will wait until the alignment plot shows a diagonal line.

[2018-06-29 02:08] deli666 commented on #50
@rafaelvalle I trained the wavenet vocoder myself.

[2018-06-29 03:57] rafaelvalle commented on #50
Try using the pre trained vocoder.

On Thu, Jun 28, 2018, 7:08 PM deli666 <notifications@github.com> wrote:

[2018-06-29 05:00] maozhiqiang commented on #17
@begeekmyfriend  yes! i uploaded ! please go to https://github.com/maozhiqiang/tacotron2_pytorch.git

[2018-06-29 10:01] deli666 commented on #50
@rafaelvalle This is the sound generated with pre-trained vocoder at https://github.com/r9y9/wavenet_vocoder

It sounds much smoother.

[sample_audio.zip](https://github.com/NVIDIA/tacotron2/files/2148860/sample_audio.zip)

[2018-06-29 15:13] rafaelvalle commented on #50
That's a good start! You probably need to train Tacotron 2 longer, eventually decreasing the learning rate!

[2018-07-01 08:09] #51 closed

[2018-07-02 07:13] NewEricWang commented on #50
@deli666 , Could you share the code that save the mel_spectrgram generated by Tacotron2 and convert the mel_spectrgram into the mel-spectrogram for the pre-trained wavenet vocoder at https://github.com/r9y9/wavenet_vocoder.  I have tried to do it, but I failed to get good results. Thank you!

[2018-07-02 07:27] NewEricWang opened #52 "How to use r9y9's pretrained wavenet vocoder to synthesis speech?"
Hi, I use below code to convert mel-spectrum generated by tracotron2 to the mel-spectrum matched with r9y9's vocoder,but I get some errors:
Traceback (most recent call last):
  File "convtac2wnet.py", line 35, in <module>
    spec_from_mel = torch.mm(mel_decompress[0], taco_stft.mel_basis)
RuntimeError: size mismatch, m1: [80 x 398], m2: [80 x 513] at /opt/conda/conda-bld/pytorch_1524577177097/wor

[2018-07-02 21:22] rafaelvalle commented on #52
After changing the mel-basis, you have to apply the same pre-processing as in Ryuchi's repo, something like:
[code]

[2018-07-03 02:44] NewEricWang commented on #52
@rafaelvalle , Thank you for your professional guidance！ I add your given code above in synthesis.py, but the speech that I get  is still noise(
[20180510_mixture_lj_checkpoint_step000320000_ema.wav.zip](https://github.com/NVIDIA/tacotron2/files/2157421/20180510_mixture_lj_checkpoint_step000320000_ema.wav.zip)
)!
The original mel-spectrum generated by tracotron2 is ：
[test_mel.npy.zip](https://git

[2018-07-04 02:56] rafaelvalle commented on #49
Closing due to inactivity. Please re-open if necessary.

[2018-07-04 02:57] #49 closed

[2018-07-04 04:39] yhgon commented on #32
@IwraStudios  close this bug.

I check FP16 training work well in NGC 18.06-py3 with below method.

I check this is solved with below method.
replace current distributed.py with new apex distributed.py
(https://raw.githubusercontent.com/NVIDIA/apex/master/apex/parallel/distributed.py)

[2018-07-04 06:49] NewEricWang commented on #52
@rafaelvalle, This is the mel-spectrum produced by tracotron2:
[test_mel.npy.zip](https://github.com/NVIDIA/tacotron2/files/2162081/test_mel.npy.zip)

Could you help me to convert it into the mel-spectrum for r9y9's pre-trained wavenet vocoder?
I have tried many methods to do it, but I always failed to synthesize normal sound by  r9y9's pre-trained wavenet vocoder. This is an example sound produce

[2018-07-04 09:48] deli666 commented on #50
@NewEricWang
[synthesize.zip](https://github.com/NVIDIA/tacotron2/files/2162678/synthesize.zip)
This is my code for generate mel-spectrogram.
Beside, you need to add methods below in wavenet_vocoder when read in the mel.npy

# methods from from Ryuchi's repo
mel = audio._amp_to_db(mel) - hparams.ref_level_db
if not hparams.allow_clipping_in_normalization:
    assert mel.max() <= 0 and mel.min() -

[2018-07-04 10:19] deli666 commented on #50
@rafaelvalle
Thanks for reply!
I have trained 500 epochs and the program stopped. I restarted it with
python train.py --output_directory=outdir --log_directory=logdir
But received some error.
Should I add some argument or change something in code if I want to continue to train?

[2018-07-04 14:10] gsoul opened #55 "HParams for training the model from readme"
Hello

If that's possible, could you please kindly share the parameters that were used to train the model that produced the sample from the readme (ideally both Tacotron2 and WaveNet).

@rafaelvalle, you indicated here that this might be a possibility: https://github.com/NVIDIA/tacotron2/issues/31#issuecomment-400345054

Thank you in advance.

[2018-07-04 18:07] rafaelvalle commented on #50
@deli666 is this the full stack trace? if not can you please post the full stack trace?

[2018-07-05 11:01] codemandosch commented on #33
Hi,

I seem to have the same problem as @tatamyans . The program just shuts down after printing "saving model". More specifically it seems to be when executing the line:

loss = criterion(y_pred, y)

**No exception is raised however. I go into windows event logs and it shows me this error:**

Faulting application name: python.exe, version: 3.6.5150.1013, time stamp: 0x5abd3210
Faulting module name

[2018-07-05 19:47] gsoul opened #56 "Distributed training hangs after "Initializing distributed" message"
Hello everyone

I try to run Tacotron2 training in distributed mode. But when I run the command - it hangs and never reaches the training phase. No errors are shown.

The command I use:
[code]
What I tried so far:
1. Switch distributed.py file to this one: https://github.com/yhgon/tacotron2/blob/master/distributed.py
2. Use apex.parallel.multiproc instead of multiproc from the repo. In this case I

[2018-07-06 00:57] yhgon commented on #56
@gsoul  sometime, you need to eliminate previous distributed.dpt file manually.

for distributed training with FP16,  I've just replace  only distributed.py file with APEX one.  I didn't reveiwed and tested multiproc.py file in APEX.  plz use original one.

below is reproduction step. plz use nvidia-docker.

Step1.  pull my docker image base on NGC 18.06  which I already install requirements
[code

[2018-07-06 01:12] yhgon commented on #56
when I check  multiproc.py file from APEX, it use  `--world-size` for argument instead of ` num_gpus`  and `--n_gpus`

[2018-07-08 10:35] gsoul commented on #56
Thanks a lot for your detailed reply!

This advise solved issue for me.

[2018-07-08 10:35] #56 closed

[2018-07-10 02:36] deli666 opened #57 "Distributed training error"
When I train the model with
"python -m multiproc train.py --output_directory=outdir --log_directory=logdir --hparams=distributed_run=True,fp16_run=True"

I got this error:
Traceback (most recent call last):
  File "/export/gpudata/deli/env/envs/py36/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/export/gpudata/deli/env/envs/py36/lib/python3.6/runpy.py"

[2018-07-10 02:36] #50 closed

[2018-07-10 04:00] deli666 commented on #57
Hi, @NewEricWang
No, I didn't. Do I need to make directory manually?

[2018-07-10 04:09] deli666 commented on #57
Thanks! @NewEricWang  It works now.

[2018-07-10 04:09] #57 closed

[2018-07-10 21:09] vijaysumaravi commented on #31
Is there a way I can continue training my model from a particular point?

To be specific, my training crashed at checkpoint_32000 because of memory issue which I have fixed. Can I now somehow resume training from this point or should I again begin from the start? If yes, how do I do it?

 I wasn't sure if opening a new issue for this was required hence posting my comment here.

 Any help is apprec

[2018-07-10 22:13] vijaysumaravi commented on #31
Never mind, figured it out.

python train.py --output_directory=outdir --log_directory=logdir --checkpoint_path='outdir/checkpoint_32500'

[2018-07-10 22:41] rafaelvalle commented on #55
Yes, we will share the params and possibly a model checkpoint soon after we're done refactoring the model.

[2018-07-10 22:42] rafaelvalle commented on #46
Closing due to inactivity. Please re-open if necessary.

[2018-07-10 22:42] #46 closed

[2018-07-11 07:30] gsoul commented on #55
If that's possible, could you please give a hint on when that might happen?

[2018-07-11 13:09] rafaelvalle commented on #55
Probably this week.

[2018-07-12 07:03] NewEricWang opened #58 "How to control the style or intonation of the synthesized speech?"
Hi, I found the synthesized speech files are different by running inference many times. Their style or intonation always are diverse. How to contral the style or  intonation  of the synthesized speech?

Another question:
      How to choose the best model from a series of checkpoint models? I found it is not sure that more iteration step is corresponding to better synthesis performance.

[2018-07-12 08:37] deli084618 opened #59 "Training speed too slow"
My training speed is about 5s / iteration. Is that normal (Single GPU)? I tried training with 4 GPU but the speed seems not change much.

I noticed that there is load_mel_from_disk option which may be the key factor of training speed. Can I use the preprocess.py from https://github.com/r9y9/wavenet_vocoder/ to generate mels to be loaded?

Besides, I multiplied the learning rate by 0.01 after 15000

[2018-07-12 09:31] gsoul commented on #59
In terms of the number of GPUs and speed I think that's ok, as what happens there is that you put batch_size samples to each GPU simultaneously, so instead of calculating gradient from batch_size samples it is calculated from n_gpus*batch_size which might lead to smaller variation in gradients.

[2018-07-12 18:22] rafaelvalle commented on #59
@deli084618 the plots you shared look good overall.
The fact that the speed is the same with 4 GPUs is great because it means you were able to increase your batch size by 4 without any time performance penalty.

If you choose to use pre-processing from Ryuchi's repo, make sure you have the same mel-spectrogram specifications in every step.

Audio quality is extremely dependent on the Mel2Audio dec

[2018-07-12 19:19] rafaelvalle commented on #58
The variation comes from dropout on the Prenet layer. One can train without dropout or set training to False here https://github.com/NVIDIA/tacotron2/blob/master/model.py#L99.

Assuming your validation loss plateaus, any checkpoint on that plateau area.

[2018-07-13 02:42] NewEricWang commented on #58
@rafaelvalle , Thank you!
I get constant speech for many times by setting dropout=0.0. But the speech quality is awful。 Maybe I should train model by setting dropout=0.0 again.

In my case, I found the learned attention can't be hold along iteration increasing. For example, I can get good speech at checkpoint 80k steps, but I can't get better speech at checkpoint 85k step, even more awful speech.

[2018-07-13 06:48] NewEricWang commented on #17
Hi, @maozhiqiang , could you share some synthesized speech samples in Chinese tacotron2 project?  What is the unit you used? How do you control the tone of the synthesized speech?

[2018-07-13 08:50] andrewb-ms opened #60 "ImportError: numpy.core.multiarray failed to import"
**python train.py --output_directory=outdir --log_directory=logdir**
RuntimeError: module compiled against API version 0xc but this version of numpy is 0xb
Traceback (most recent call last):
  File "train.py", line 15, in <module>
    from model import Tacotron2
  File "/home/adm101/tacotron2/model.py", line 5, in <module>
    from layers import ConvNorm, LinearNorm
  File "/home/adm101/tacotron2/

[2018-07-13 15:34] rafaelvalle commented on #58
Attention is very important for proper synthesis: a low validation score with bad alignment won't produce good samples during inference time when we're not teacher forcing, i.e. providing the real previous mel frame to the decoder.

Audio quality is extremely dependent on the mel2audio decoder.
If by tone you mean the robotic sound, you can improve it by using a Wavenet Vocoder.
If you mean someth

[2018-07-16 10:11] jinfagang opened #61 "Multi lan enhancement"
Any instruction to train this on a Chinese dataset?

[2018-07-16 14:13] IsakWesterlundBitville opened #62 "Load from checkpoint not working with fp16?"
Hello, I can't get loading from a checkpoint to work.

I used this command and parameters:
[code]

[code]
After the first run the Loss and Grad Norm become very large as if it suddenly forgot the learning rate. The other hparams are set as default.
Could this be related to fp16 somehow?

Log:

[code]

[2018-07-16 16:17] rafaelvalle commented on #61
Take a look at this issue:
https://github.com/NVIDIA/tacotron2/issues/17

[2018-07-16 16:17] #61 closed

[2018-07-16 16:18] rafaelvalle commented on #62
DynamicLossScaling should be on for FP16 runs.

[2018-07-17 03:55] jinfagang commented on #17
@maozhiqiang The link is missing

[2018-07-17 08:19] viogoes commented on #42
@MXGray
i used your code with:
    mel = torch.autograd.Variable(mel_outputs_postnet)
    mel = mel.reshape(80, 115)
    mel = mel.data

  samples = wavenet.infer(mel, nv_wavenet.Impl.PERSISTENT)[0]

But, I got this:
cond_input.size()[0:3:2])
AssertionError: Inputs are channels x batch x num_layers x samples.
       Channels and num_layers should be sizes: (128, 16)
       But input is: torch.Size

[2018-07-17 14:29] codemandosch opened #63 "Silence in dataset a problem?"
The speaker in my dataset waits a few seconds before starting to speak in each recording. There is also a few seconds of near silence afterwards. The duration varies and it's not complete silence (it has some minor mic noise) so it's hard to remove. Will this be a problem?

[2018-07-18 13:17] IsakWesterlundBitville commented on #62
Changing any parameters does not seem to make a difference. The problem is with fp16.
Training a new model and resuming works with FP16 set to false, but when I train any model with fp16 turned on, loading from a checkpoint does not work with a Nvidia V100.

[2018-07-19 13:08] viogoes commented on #3
@rafaelvalle  It should be possible. You'll need to load the weights onto the PyTorch bindings.
How to load the weights?

[2018-07-19 15:53] codemandosch commented on #63
Found a good way to clean it using sox
`
sox inputfile.mp3 outputfile.mp3 silence 1 0.1 0.1% reverse silence 1 0.1 0.1% reverse`

[2018-07-19 15:53] #63 closed

[2018-07-22 11:16] EthanKoo commented on #55
It's very kind, and expecting for the sharing ~

I have trained the model for 160K steps, [the wave](https://soundcloud.com/user-795890198/demo-160k) sounds good, but still far from the sample provided.

If possible, cloud you tell me how many steps have you trained for the model which generating the sample wave?

thx~

[2018-07-22 17:07] rafaelvalle commented on #55
We're evaluating models that start learning attention as fast as 1500 iterations as one can see in the picture below. We're in the process of comparing these models to others.

![screen shot 2018-07-22 at 10 05 45 am](https://user-images.githubusercontent.com/2302607/43048095-e39afe88-8d96-11e8-9410-c48ca028af22.png)

[2018-07-22 17:32] rafaelvalle commented on #62
When checkpointing, did it get back to the expected range after a few iterations?

[2018-07-22 17:36] rafaelvalle commented on #3
@viogoes please ask this question on the nv-wavenet repo.

[2018-07-22 21:06] gsoul commented on #62
I have the same issue and the answer for me is "no, it didn't get back to the expected range after a few iterations"

[2018-07-23 02:17] NewEricWang commented on #58
@rafaelvalle ,Thank you very much. When synthesizing with setting dropout=0, the tones of synthesized sentences using different training-step models  are different.
This is a sound synthesized by model with 126k-step:
[test.126k.v1.wav.zip](https://github.com/NVIDIA/tacotron2/files/2217718/test.126k.v1.wav.zip)

This is a sound synthesized by model with 122k-step:
[test.122k.v1.1.wav.zip](https://

[2018-07-23 06:39] IsakWesterlundBitville commented on #62
No, it did not for me either. Tried about 5 different configurations but all had the same problem on fp16.

[2018-07-24 12:56] EthanKoo commented on #62
I have the same issue

[2018-07-24 15:45] atliSig commented on #63
I had issues with alignment when I trained on a dataset with these starting and ending silences. Additionally you can trim the silence using librosa with: ``trimmed_audio, _ = librosa.effect.trim(audio)``.

[2018-07-25 09:23] willian56 commented on #56
1

[2018-07-25 09:23] willian56 commented on #56
1

[2018-07-25 09:52] willian56 opened #64 "multi-gpu error"
hello, everyone, I am trying to run the tacotron2 with multi-gpu, my command is
``` python -m multiproc train.py --output_directory=outdir --log_directory=logdir --hparams=distributed_run=True,fp16_run=True ```

the output as following:
``` FP16 Run: True ```
``` Dynamic Loss Scaling: True ```
``` Distributed Run: True ```
``` cuDNN Enabled: True ```
``` cuDNN Benchmark: False ```
``` Initializing

[2018-07-25 10:39] gsoul commented on #64
https://github.com/NVIDIA/tacotron2/issues/56

[2018-07-25 11:57] willian56 commented on #64
@gsoul yeah, thanks for your suggestion, I have viewed #56, but I am not familiar with docker, so I wonder if there is another solution for this problem.

[2018-07-25 15:02] gsoul commented on #64
do you have "distributed.dpt" file in the root of the repo folder and did you try to manually delete it?

[2018-07-26 01:31] willian56 commented on #64
yeah, the "distribted.dpt" is in my repo folder, Does it work to delete it?

[2018-07-26 17:11] rafaelvalle commented on #64
Yes. Delete the file and please confirm that it works.

[2018-07-27 08:04] willian56 commented on #64
@rafaelvalle @gsoul yeah, thanks for your advice. But there still a problem, finally I replace distributed.py with APEX distributed.py filehttps://raw.githubusercontent.com/NVIDIA/apex/master/apex/parallel/distributed.py

[2018-07-27 08:08] #64 closed

[2018-07-31 10:18] a8568730 opened #65 "The benefits of filelists randomly shuffling?"
Hi,
Thank you for this great project, and we're trying to implement a open-source Taiwanese text-to-speech synthesis service with this project.

We found the three lists (train, test, val) in `filelists/` is randomly shuffling.
For example, the first few lines in `ljs_audio_text_train_filelist.txt` is
[code]
Rather in order
[code]
We wonder the reason of shuffling, thinking if we need to shuffle o

[2018-07-31 10:53] codemandosch commented on #63
@atliSig How do I interpret the alignment graph? Any good resources to read or should I just try to read the code? This is my Graph after 150 000 iterations, audio is incomprihensible:
![image](https://user-images.githubusercontent.com/39131332/43455373-db35e84a-94bf-11e8-81a2-b54c8cfe54f6.png)
Should be mentioned that my batch_size is only 5 because of memory problems (I run a 1070 8GB but my dat

[2018-07-31 11:04] codemandosch opened #66 "Tacotron 2 slack channel"
I made a slack channel called Tacotron 2 for people to share ideas, help each other with their implementations and discuss the repository. Join here: https://join.slack.com/t/tacotron2/shared_invite/enQtNDA4MzAzMzY4MjcyLTg3N2ZjZDkyZTAyYjdmNDc2MmFmNjA5NTQ0Mzk3NzgyNjljZGE1YWU4OWFmYjFmYzI4OGE2YWM4MGY4NmRkNGY

If you think marketing of such a channel does not belong here @rafaelvalle , feel free to re

[2018-08-01 07:15] gsoul commented on #55
Hey, @rafaelvalle, if that's a possibility, could you please share the hparams that you used for training demo samples now, and then post the new code when it's ready. It would be extremely beneficial to the ones who try to reproduce your work with smaller hardware setups, as it takes ~2 weeks to train WaveNet to ~1mln steps...

[2018-08-01 07:16] gsoul commented on #65
The idea behind shuffling is to not converge too early to the local minima and let model generalize better.

[2018-08-01 09:56] a8568730 commented on #65
Ooh I see. :D
Some parts of the corpus may contains some similar sentence patterns or same words next to each lines, like talking about a particular topic.
With shuffling, we disrupt all the speech patterns in the corpus to avoid from the local minima.

[2018-08-01 15:11] atliSig commented on #63
Based on the number of iterations you have finished and the state of the alignment I would guess something has gone wrong in your case. The alignment graph gives you an idea about how well the attention-based decoder is aligning the input text sequence to the waveform output.

Looking at your alignment graph, it seems like the model has a hard time predicting the first 60 encoder timesteps / 500 d

[2018-08-03 02:02] vijaysumaravi commented on #52
Hi,

I tried generating audio using the method above but I still get just noise. Please let me know if I am doing something wrong.

My code:

#tacotron Inference.py:
mel_outputs, mel_outputs_postnet, _, alignments = model.inference(sequence)
mel = dynamic_range_decompression(mel_outputs_postnet)
np.save('spectrograms/taco_melspec.npy', mel_outputs_postnet.data.cpu().numpy()[0])
#np.save('spectrogr

[2018-08-07 03:25] WanCaiYan opened #68 "The predicted stop token does not work"
Hello, How do you predict stop token?

[2018-08-07 17:43] #65 closed

[2018-08-08 13:42] wenyong-h opened #69 "How low of the validation loss you can get on LJ dataset?"
I'm following the README to train on LJ dataset.
My validation loss is about 4.67 after 5 days of training on a single P100 GPU. Now the validation loss decreases very slow.
The generated audio sample with Griffin-Lim have significant background noise, even when in the middle of a pause, though the pronunciation and prosody seem good enough.

[2018-08-08 15:11] gsoul commented on #69
0.44 on 2*1080ti in fp16 after ~36k steps

[2018-08-08 22:28] jferrer21 commented on #32
@yhgon

Do you know (estimate) how long would take to train nv-wavenet with LJSpeech dataset and
 1 Tesla V100 GPU?

[2018-08-09 13:37] wenyong-h commented on #69
I remember wrong, my  validation loss is about 0.467 with fp16.
So the  validation loss seems to have no problem, feel free to close this issue.
BTW, Does your generated audio sample with Griffin-Lim also have background noise?

[2018-08-09 15:09] gsoul commented on #69
yes it does.

And I have no permissions to close the issue, so please do so if the issue is resolved.

[2018-08-09 18:41] jferrer21 commented on #69
@wenyong-h
How long it took to train with fp16  the Griffin-Lim and or LJ dataset?

@gsoul
 Which GPU are you using?

[2018-08-10 00:48] jferrer21 opened #70 "Audio Recording for Dataset"
Would 10 hours of audio recording be enough to achieve "state of the art quality"?

How long will it take to train in an AWS machine with one v100 GPU?

[2018-08-10 00:58] rafaelvalle commented on #70
It's possible to train a model even with 1 hour of data but it's vocabulary will be extremely limited, etc.

With a V100 it should take less than a day to train Tacotron 2, specially with the model we're about to release. Note that you will need the wavenet decoder to achieve state-of-the-art **audio quality** .

[2018-08-10 01:00] rafaelvalle commented on #55
We'll be releasing the new model and hprams in a branch soon.

[2018-08-10 16:02] wenyong-h commented on #69
Training with fp16 takes about 3 days  on my machine with a single P100.
The dataset is LJ dataset.

[2018-08-15 01:47] BluePrintRandom opened #71 "teach tacotron 2 to sing?"
can tacotron 2 be taught to sing?

can tacotron 2 be taught to read a second line of text - emotion? ie angry etc?

[2018-08-17 15:56] sxdxfan opened #72 "Russian speech synthesis"
Hi,

I'm trying to synthesise Russian speech and I'm not sure whether the network has learnt anything or not. The loss is decreasing, but the attention plots look all wrong.

<img width="1055" alt="screen shot 2018-08-17 at 18 35 17" src="https://user-images.githubusercontent.com/15383995/44275211-c5876880-a24c-11e8-9e1b-24b13a01f089.png">
<img width="622" alt="screen shot 2018-08-17 at 18 35 34"

[2018-08-18 17:21] deadskull7 opened #73 "Please explain the Setup again elaborately"
This is to the contributors of this repository and any other 3rd person who knows how to setup the repo. in one's machine till fully working and result stage. I am having some problem in 4th part of setup. Please help me out. Thanks in advance.

[code]

Its coming like ` 'sed' is not recognized as an internal or external command, operable program or batch file.`

[2018-08-19 15:53] deadskull7 commented on #73
My Bad .... Its done.

[2018-08-19 15:54] #73 closed

[2018-08-21 05:10] #66 closed

[2018-08-22 08:48] begeekmyfriend commented on #64
It also works for me. @rafaelvalle why not replace `distributed.py` with this one on your repo?

[2018-08-23 02:51] begeekmyfriend opened #74 "Inference Error"
When I tried on single GPU, it works. But now I have multi-gpu, it threw an exception. Please help!
[code]
[code]

[2018-08-23 09:32] begeekmyfriend opened #75 "Pre-emphasis is important on audio signal processing"
Here is the difference about adding pre-emphasis before STFT and inverted pre-emphasis after G&L outputs or not. Why not consider adding pre-emphasis into audio processing?
[preemphasis_or_not.zip](https://github.com/NVIDIA/tacotron2/files/2313813/preemphasis_or_not.zip)

![non-preemphasis](https://user-images.githubusercontent.com/6031938/44517442-4ab1c800-a6fa-11e8-8883-0dc5ce90c421.png)
![preem

[2018-08-23 09:59] begeekmyfriend commented on #74
Hey, I solved this problem by type

Now I can synthesize Chinease mandarin on this version!
[test.zip](https://github.com/NVIDIA/tacotron2/files/2313929/test.zip)

[2018-08-24 08:08] sedrasmith commented on #42
@MXGray can you elaborate 'Then, I just used subprocess to run nv-wavenet/pytorch/inference.py to process the newly saved .pt file'

i try to make wav from mel_outputs_postnet
all i do is

1. convert mel_outputs_postnet to cond_input
`
with open('/home/dehan_l/project/speech_generation/nv-wavenet/pytorch/config-1.json') as f:
        data = f.read()
config = json.loads(data)
train_config = config[

[2018-08-24 15:27] jerryli27 commented on #62
+1 on this issue.

[2018-08-29 19:26] jferrer21 opened #76 "FP16 Run"
@yhgon

I'm using yhgon's image, hryu/pytorch:t3-1, but I'm having errors when running FP16=True with a single V100 GPU.  Is this the correct command : **python train.py --output_directory=outdir --log_directory=logdir --hparams=fp16_run=True**  ?

[2018-08-29 22:18] jferrer21 commented on #76
@rafaelvalle

I also built the docker image "tacotron2."

AWS Instance:
NVIDIA Volta Deep Learning AMI
Version 18.08.0
Linux/Unix, Ubuntu ubuntu 16.04 | 64-bit Amazon Machine Image (AMI) | Updated: 8/23/18

`python train.py --output_directory=outdir --log_directory=logdir --hparams=fp16_run=True`

FP16 Run: True
Dynamic Loss Scaling: True
Distributed Run: False
cuDNN Enabled: True
cuDNN Benchmark:

[2018-09-07 05:30] Evil-Spirit commented on #72
Hello. Do you have any update on this?

[2018-09-07 08:46] sxdxfan commented on #72
Not really, we've decided to record more audio and see if it helps, I think we'll have an update in a week time.

[2018-09-07 12:28] DHOFM opened #77 "insufficient shared memory"
Hi,
I tried to train on a Google Cloud VM with K 80 in colab. I lowered batch_size to 36 because it´s only one GPU with almost 12 GB, so in fact it´s "half" card. That works so far. But after iteration 2000 memory fails. In Colab it´s a Docker container afaik. So here a the specs before starting to train:
**Gen RAM Free: 12.6 GB  | Proc size: 141.3 MB
GPU RAM Free: 11439MB | Used: 0MB | Util   0%

[2018-09-07 13:33] marshgammon commented on #71
I think thats not how its been designed to run. If you're interested in singing synthesizers check out Yamaha's Vocaloid.

[2018-09-07 13:43] marshgammon commented on #77
Are you using a docker container?
Try setting a higher shared memory amount with the `--shm-size 10G` to the `docker run` command

[2018-09-14 03:30] qazxswedcvfrtgbnhyujmkiolp commented on #71
I know nothing about Tacotron 2 or ML in general but I've been around singing synths for years, so here's my $0.02:

As of now, the only synthesis method for human vocals (i.e. singing) that matters is concatentive synthesis; essentially a glorified sampler. Large collections of phoneme chunks are recorded, which are then picked, pitch-adjusted, and spliced together at runtime - exactly what mains

[2018-09-14 03:51] BluePrintRandom commented on #71
what about a sample

Sing the word "Love" - while angry

Sing the world "Love" - while happy

Sing .... while....

collect tons of samples
[label the training set]

then first try to see if the pre proccessor can listen to music and
identify a overall tone from words / tempo ques etc.

try and give it a input (text)

and it uses a GAN to generate output that matches the tone of the text
???

it is

[2018-09-14 12:34] will-rice commented on #71
I believe style transfer/style tokens could be a solution for this problem. This repo out of the box isn't built for this, but this is definitely possible with some modification.

Here are some papers that address similar topics:
https://arxiv.org/abs/1808.01410v1
https://arxiv.org/abs/1803.09017v1
https://arxiv.org/abs/1603.08155

[2018-09-14 13:40] ljuvela commented on #71
I think the duration and pitch information available from the music score should actually make learning easier. There's a line of recent work on "neural parametric singing synthesis" that uses a WaveNet-like model to generate vocoder features http://www.dtic.upf.edu/~mblaauw/NPSS/

Of course this and Tacotron both would benefit from a more HiFi waveform generation method. Hybrid concatenative unit

[2018-09-15 19:13] hitrefresh opened #78 "Problem in Attention RNN in Decoder"
https://github.com/NVIDIA/tacotron2/blob/master/model.py, Line 354-356
`cell_input = torch.cat((self.decoder_hidden, self.attention_context), -1)
  self.attention_hidden, self.attention_cell = self.attention_rnn(cell_input, (self.attention_hidden, self.attention_cell)`

In all the links mentioned below, the attention RNN takes input as concat(attention_context, prenet_output) but in this implement

[2018-09-15 20:33] hitrefresh opened #79 "Typo in comment for get_alignment_energies() in model.py"
@rafaelvalle
https://github.com/NVIDIA/tacotron2/blob/master/model.py
`Line 48:       query: decoder output (batch, n_mel_channels * n_frames_per_step)`

Here `query` is the hidden state of Attention RNN, which should have size `(batch, attention_rnn_dim)`?

[2018-09-16 20:59] hitrefresh opened #80 "Masking for loss probably missing in loss_function.py"
@rafaelvalle
[code]
https://github.com/NVIDIA/tacotron2/blob/master/loss_function.py

I checked in python debugger that `mel_out` and `mel_target` have size corresponding to the largest sequence. `mel_target` has padded zeros for shorter sequences while `mel_out` has
values predicted after the sequence length for shorter sequences. The loss for shorter sequences
should be masked and not backpropag

[2018-09-17 07:29] splitice opened #81 "CUDA required for inference"
Does anyone know if CUDA / a NVIDIA GPU is required for inference with this model?

[2018-09-17 09:27] pfriesch commented on #81
yes

[2018-09-17 09:30] splitice commented on #81
@pfriesch Thanks.

Hoping to get this to run at near real time (within 2-3x less than real time would be acceptable) on an embedded system. Of course with a model trained on a GPU cluster.

Do you happen to know roughly what the memory usage is like with the model loaded for inference? Within 300-400mb?

[2018-09-17 09:55] pfriesch commented on #81
How do you plan to synthesize from spectrogram -> raw audio?

[2018-09-17 11:37] splitice commented on #81
First step is concept validation which is why I was going with something simple. I'll take a look at that though.

[2018-09-19 03:53] bfs18 commented on #80
Hi, I am also curious about this.
1. If the loss mask is provided, the gate label is extremely unbalanced. Only the last value of a sentence is 1 (end predicting) and the rest values in the same sentence are all 0's (continue predicting). So the end symbol would be very hard to predict if the loss mask is applied to the BCEWithLogitsLoss term.
2. If the loss mask is not provided, the padded 0's ma

[2018-09-19 19:06] macarbonneau opened #82 "No gain using FP16 on a GV100"
Hello!
        Thank you for the nice implementation. I was wondering if you have tried to run the tacotron on a GV100 ...and if you did if you got a speed-up.

My baseline is a 1080Ti and so far, I get a gain only because I can train with bigger batches. I run in the FP16 mode to use the tensor core and yet it does not go faster. In fact, it goes slightly slower than with FP32. From what I saw fr

[2018-09-20 18:38] hitrefresh commented on #80
Yes, that's a good point. In the current implementation, the loss mask is provided, but the duration of passing silence varies too much across sequences, because all the sequences in the batch are padded up to longest sequence. In theory, it can also happen that the same sequence can receive different padding based on the longest sequence in the minibatch sampled.

I hope the contributors will be

[2018-09-21 09:11] bfs18 opened #83 "Over-weighted gate loss."
The MSE loss is averaged across the data dimensions. So the weight for each mel dimension loss is 1. / mel_dim. However the weight for the gate loss is 1. So the gate loss may be considered over-weighted.
If the weights for each mel dimension loss and the gate loss are modified to 1 / (mel_dim + 1.), the model will learn alignments in an earlier iteration.

[2018-09-22 17:18] aleksas commented on #71
Was thinking of same. Using tacotron and wavenet to train singing. To use midi and lyrics as input.
Midi can be generated from vocal using [audio_to_midi_melodia python library](https://github.com/justinsalamon/audio_to_midi_melodia) built on top of [Melody Extraction vamp plug-in](https://www.upf.edu/web/mtg/melodia).

[2018-09-22 20:08] hitrefresh commented on #80
From Tacotron 1 paper:
`We train using a batch size of 32, where all sequences are padded to a max length. It’s a common
practice to train sequence models with a loss mask, which masks loss on zero-padded frames.
However, we found that models trained this way don’t know when to stop emitting outputs, causing
repeated sounds towards the end. One simple trick to get around this problem is to also re

[2018-09-22 20:08] #80 closed

[2018-09-25 13:04] Rai220 commented on #72
@sxdxfan what size of dataset do you use?

[2018-09-25 13:14] sxdxfan commented on #72
3 hour dataset of ~10 second clips. We've recorded more, but haven't tested yet.

[2018-10-01 11:57] hadiasheri opened #84 "How to synthesize long sentences?"
I've trained tacotron2 with LJSpeech for about 200K iterations.
The synthesized speech is great for sentences with maximum length of about 50 words.
However, when you feed a long sentence ( e.g length~100), it fails to produce acceptable speech because some parts of the sentences are missing or pronounced awfully.
Do you have any experiences to synthesize sentences of arbitrary length with tacotro

[2018-10-01 11:59] hadiasheri opened #85 "Training is too slow!"
I'm training tacotron2 on LJ-Speech dataset with a TITANX PASCAL gpu.
However, it is training seems too slow with about 3 sec/iteration.
Do you have any idea on how to make the training faster?

[2018-10-11 08:30] amirMaleki1 opened #86 "Running tacotron2 with other characters"
I am running the tacotron2 with a non English character dataset. When it is running, epoch signs appear on the screen without any calculation , and this will lead to no result in output directory.

epoch1
epoch2
epoch3
...
epoch499

I think this is happened because non English characters have not been read by the text loader, there are text input entries, but the system can not recognize the chara

[2018-10-21 12:27] #86 closed

[2018-10-30 16:26] KonstantinosMarko opened #87 "Problem in passing mel-spectra of nvidia/tacotron2 to r9y9/wavenet?"
Thank you for your code and your well written documentation.

I have trained tacotron2 at 140.000 steps and I would like to pass the output of Tacotron2 to WaveNet (code from r9y9).
The issue is that there is an assertion error, at wavenet training process. I believe it is due to the dimensions of the spectra produced by Tacotron. The training of wavenet on the LJSpeech dataset works fine.
The cod

[2018-10-31 09:51] zuzana commented on #72
Hi @sxdxfan , do you have insight how many hours is necessary? Was 3 hours enough for you, or did you need more? I know that LJSpeech has 24hours. Thanks.

[2018-11-01 10:21] begeekmyfriend commented on #74
I used single GPU with batch size as 32 and reduction factor as 2. The synthesizer is G&L and my fork is [here](https://github.com/begeekmyfriend/Tacotron-2). and here is my latest results. https://github.com/keithito/tacotron/issues/118#issuecomment-428421472
Of course I recommend T2.

[2018-11-03 07:09] ishansan38 commented on #87
@KonstantinosMarko Any luck with this?

[2018-11-05 04:07] candlewill commented on #74
Thanks.

[2018-11-05 09:47] KonstantinosMarko commented on #87
No luck till now. Just fail attempts.

[2018-11-05 17:52] gabrer commented on #1
I have got a similar issue with Pytorch 0.4.1 and have just fixed it changing `torch.LongTensor()` with  `.long()`.

[2018-11-18 06:10] rishikksh20 commented on #87
@KonstantinosMarko could you share your pretrained model/weights of nvidia's tacotron2?

[2018-11-18 19:31] rafaelvalle commented on #83
@bfs18 how earlier does the model learn attention with this alteration to the loss?

[2018-11-18 21:00] rafaelvalle commented on #87
@KonstantinosMarko can you share the error trace?

[2018-11-20 09:32] Worldexe commented on #72
3hrs is not enough, afaik. You ideally should have 100hrs of well-done dataset (without noises and errors); 30+ may work.

[2018-11-20 10:46] Evil-Spirit commented on #72
Why not take any of audio books? Some of them have good qualiity of sound/voice/speech.

[2018-11-20 15:59] Worldexe commented on #72
Yeah, that will help.

Ideally, there should be intonation and overall speaking style consistent over all the records you have in the dataset. It may be an issue if you have the same speaker in those audiobooks, because small details, recording conditions will differ.

Also, there may be legal reasons against it.

[2018-11-20 16:08] Evil-Spirit commented on #72
First of all, it can help to determine how much data you should take to get a good result. And can help in proving of concept, disclose any issues with dataset and point how you should record your dataset if you wanted to do it. Anyway, it can be cheaper if you pay for already recorded dataset instead of creating your own. And they are more natural!

[2018-11-20 16:49] rafaelvalle commented on #72
MAILabs has a russian speech dataset. 20h is enough.

[2018-11-22 07:56] Yeongtae opened #88 "How to implement ground truth-aligned predictions."
To train wave generator such as wavenet, waveRNN, and waveglow.
We need to extract GTA mel-spectrograms from a dataset.

We can see the detailed explanation in tacotron2 paper,
![image](https://user-images.githubusercontent.com/13597229/48888600-95b4b600-ee76-11e8-8544-a3546bb84060.png)

But There are Insufficient information to implement.
What is the the corresponding previous frame?
is it just l

[2018-11-25 21:17] mikhail-barg commented on #55
Would be really nice to see actual hparams for the published sample.

We've tried running ttraining with default hparams on LJ dataset as explained in readme, and got incomparably worse results even after whole week of learning. Alignments seem to be OK, but the voice itself it very shaky, which doe not seem to be an effect of GL.

So we are not sure, is this because we did something wrong, or bec

[2018-11-26 11:35] hdmjdp commented on #32
@IwraStudios @yhgon  I think you can just " flat = torch.cat([t.half().contiguous().view(-1) for t in tensors], dim=0)" to fix this.

[2018-11-27 16:08] rafaelvalle commented on #31
Pre-trained model has been made available on our README page.

[2018-11-27 16:08] #31 closed

[2018-11-27 16:13] rafaelvalle commented on #33
Closing due to inactivity.

[2018-11-27 16:13] #33 closed

[2018-11-27 16:14] rafaelvalle commented on #55
We've updated the repo with pre-trained tacotron 2 model weights.
Please check out the README.

[2018-11-27 16:14] #55 closed

[2018-11-27 16:15] rafaelvalle commented on #58
Closing due to inactivity.

[2018-11-27 16:15] #58 closed

[2018-11-27 16:16] rafaelvalle commented on #68
In the current code the stop token is not predicted.

[2018-11-27 16:16] #68 closed

[2018-11-27 16:16] #70 closed

[2018-11-27 16:16] rafaelvalle commented on #72
Closing due to inactivity.

[2018-11-27 16:16] #72 closed

[2018-11-27 16:17] rafaelvalle commented on #75
We're providing a clean implementation. Thank you for raising this.

[2018-11-27 16:17] #75 closed

[2018-11-27 16:18] rafaelvalle commented on #77
Closing due to inactivity.

[2018-11-27 16:18] #77 closed

[2018-11-27 16:18] rafaelvalle commented on #59
Closing due to inactivity.

[2018-11-27 16:18] #59 closed

[2018-11-27 16:19] rafaelvalle commented on #84
A quick solution is to break the input into multiple sentences.

[2018-11-27 16:19] #84 closed

[2018-11-27 16:20] rafaelvalle commented on #79
The code has been updated. Please send a PR if the problem remains.

[2018-11-27 16:20] #79 closed

[2018-11-27 16:21] rafaelvalle commented on #81
Please take a look at our Inference demo for guidance on how to synthesize from mel to raw audio.

[2018-11-27 16:21] #81 closed

[2018-11-27 16:22] rafaelvalle commented on #82
That is similar to what we currently perceive. We're working on improving it.

[2018-11-27 16:22] #82 closed

[2018-11-27 16:22] #74 closed

[2018-11-27 16:23] #76 closed

[2018-11-27 16:23] rafaelvalle commented on #85
Please use the most recent code. Training can be made faster by fusing dropout and lstm layers.

[2018-11-27 16:23] #85 closed

[2018-11-27 16:24] rafaelvalle commented on #87
Closing due to inactivity.

[2018-11-27 16:24] #87 closed

[2018-11-27 16:25] rafaelvalle commented on #69
Closing due to inactivity.

[2018-11-27 16:25] #69 closed

[2018-11-27 16:26] #32 closed

[2018-11-27 21:43] hitrefresh commented on #78
@rafaelvalle I checked the code again. It is still similar to Tacotron 1 in the sense that there Attention RNN's hidden state is used as query, while in Tacotron 2, hidden state of Decoder RNN should be used as query.

The part which got fixed is (prenet_output, attention_context) is now going to Attention RNN.

[2018-11-27 22:46] rafaelvalle commented on #78
I've communicated with the authors and they told me that this is the architecture they are using.

[2018-11-27 22:49] rafaelvalle commented on #78
Take a look at this line https://github.com/NVIDIA/tacotron2/blob/master/model.py#L353
The first LSTM's input, which we call attention RNN, is the output of the second LSTM, which we call decoder, after the linear projection.

[2018-11-28 19:58] williamFalcon opened #97 "No module named 'glow_old'"
When trying to load waveglow like:

[code]

I get this error:

[code]

[2018-11-28 22:49] hitrefresh commented on #78
Thanks. Makes sense now. The difference was using output of 1-LSTM vs 2-LSTM but I saw the conversation over here.

[2018-11-29 02:29] nanma commented on #97
@williamFalcon Have you Initialized the submodule of waveglow?

[2018-11-29 02:31] williamFalcon commented on #97
Yup, that fixed it. However 2 problems still remain:

1.  Weights are for GPU only. Saving state dict is probably a better approach.
2. Pytorch 1.0 has an issue with padded rnns... so can't use the waveglow inference + this code in the same environment

[2018-11-29 02:31] #97 closed

[2018-11-29 09:32] Worldexe opened #98 "NCCL error in distributed run: unhandled cuda error"
I have the following error while trying to run distributed setup:

The commands are these:
[code]

Other hparams are default (as in master).
The error is the same if I use file:// or tcp:// distributed urls.

The log is:
[code]

The platform is Linux, Ubuntu 16, python3.6; I installed pytorch 1.0.0 from nightly build just today; I am using 1080 cards. tacotron2 repo was updated just now, on master

[2018-11-29 09:54] Worldexe commented on #98
For those who encounter the same error: you really need to use `python -m multiproc train.py ...` instead of just `python train.py ...`. Still, the error message is very misleading :(

[2018-11-29 09:54] #98 closed

[2018-11-29 16:49] williamFalcon opened #99 "What do you mean by same mel-spectogram representation?"
Will this work if:
1. I train the tacotron2 model here using the settings in the repo.
2. Use the pretrained weights from the waveglow repo?

How can I verify the settings for the mel-spectogram are the same?

[2018-11-29 17:21] rafaelvalle commented on #99
The defaults here are the same as the defaults in waveglow repo.
You're looking at these params: https://github.com/NVIDIA/tacotron2/blob/master/hparams.py#L35

[2018-11-29 17:30] williamFalcon commented on #99
ok awesome. So just the sampling rate has to be the same? Or do you mean the whole audio section?

Btw I generated the following sample (i only trained  it for 20 epochs) i assume this has to go for something closer to 500 epochs?
https://www.dropbox.com/sh/jlrfrucpd1riisj/AAB5WbLNTVn3bm5N86JgR4Lva?dl=0

[2018-11-29 22:34] rafaelvalle commented on #99
[code]

[2018-11-29 22:35] rafaelvalle commented on #99
For tacotron 2 with the current setup and mel representation a validation loss of ~3 and below sounds like speech for sure.

[2018-12-01 00:49] #99 closed

[2018-12-01 06:46] xingjy10 opened #100 "what is the final loss value look like?"
i trained 82,500 and the Validation loss is 0.53.

[2018-12-02 00:27] cliuxinxin opened #101 "how many gpus use?"
I tried on my 1080ti . Inference the example about 1s use at least 3s.If I add gpus, this time will reduce or not?

[2018-12-03 07:33] nanma opened #102 "Training result is not as good as the pre-trained model"
I train this Tacotron2 model with the latest version of code and hparams(commit:6e430).  After running 500 epochs, the validation loss 0.3308, but the alignment is not very good:
![image](https://user-images.githubusercontent.com/1190445/49358849-25782100-f70f-11e8-8ef1-18e09854d50b.png)

The training and validation loss curves are:
![image](https://user-images.githubusercontent.com/1190445/493592

[2018-12-03 07:34] rafaelvalle commented on #102
Yes! Learning rate decay.

[2018-12-04 01:09] TesseractCat opened #103 "inference.ipynb not working with pre-trained model."
When I run inference.ipynb I get this error:
[code]
This is using the pretrained model provided (tacotron2_statedict.pt)

[2018-12-04 17:50] luisouza opened #104 "RuntimeError: CUDA error: out of memory - DCGAN with image_size = 256."
Hey, I am trying to implement a DCGAN with image_size = 256. I already implemented the generator and discriminator codes, in the following:

# Generator Code

class Generator(nn.Module):
    def __init__(self, ngpu):
        super(Generator, self).__init__()
        self.ngpu = ngpu
        self.main = nn.Sequential(
            # input is Z, going into a convolution
            nn.ConvTranspose2d

[2018-12-04 20:48] TesseractCat commented on #103
I accidentally downloaded an old version of the repository, so I will close this issue.

[2018-12-04 20:48] #103 closed

[2018-12-04 22:14] rafaelvalle commented on #104
Post your question on stack overflow.

[2018-12-04 22:14] #104 closed

[2018-12-04 22:15] rafaelvalle commented on #62
Closing due to inactivity.

[2018-12-04 22:15] #62 closed

[2018-12-05 11:38] min8328 opened #105 "stft magnitude minumum value"
Hi there, I have found little difference between what the paper said and what I found in code.

In Section 2.2 Paragraph 2 of Tacotron2 paper,
"Prior to log compression, the filterbank output magnitudes are clipped to a minimum value of 0.01 in order to limit dynamic range in the logarithmic domain."

but in the corresponding part of audio_processing.py is like,
def dynamic_range_compression(x, C=

[2018-12-05 20:22] rafaelvalle commented on #101
Inference is approximately 6.6x real-time using FP32 on a Volta 100.

[2018-12-05 20:24] rafaelvalle commented on #105
Should not be a big deal. Clamping with a higher threshold can remove noise, for example, and make training easier.

[2018-12-06 00:53] cliuxinxin commented on #101
@rafaelvalle  thank you for your replay

[2018-12-06 00:56] cliuxinxin commented on #101
@rafaelvalle FP32 use the defuault code in inference or something will change. I am glad to try the inference time use the 1080ti and report back.

[2018-12-06 01:44] rafaelvalle commented on #101
Please do.

[2018-12-06 02:01] cliuxinxin commented on #101
@rafaelvalle
this is the loading code
![image](https://user-images.githubusercontent.com/6162238/49556076-31e1c100-f93d-11e8-88c6-1c527a2bedc5.png)
card info
![image](https://user-images.githubusercontent.com/6162238/49556095-4756eb00-f93d-11e8-8b71-beae3c7b5996.png)
infer the spectruam
![image](https://user-images.githubusercontent.com/6162238/49556141-884eff80-f93d-11e8-8e6e-c569eebca30e.png)
in

[2018-12-06 02:51] min8328 commented on #105
Thank you for your immediate responding. Your comment also helped me to wide my sight.

[2018-12-06 03:59] #105 closed

[2018-12-06 04:07] rafaelvalle commented on #101
Two suggestions:
1) Increase the size of your predicted mel to be around 10 seconds
2) Convert waveglow to FP16. This one-liner probably works
```waveglow = waveglow.half()```

[2018-12-06 05:40] cliuxinxin commented on #101
@rafaelvalle
extend to 10s and use half
![image](https://user-images.githubusercontent.com/6162238/49563541-459c2000-f95b-11e8-972a-4f6dbc0351ce.png)
now get error

RuntimeError                              Traceback (most recent call last)
<ipython-input-14-a245159cec35> in <module>()
      3 start = time()
      4 with torch.no_grad():
----> 5     audio = waveglow.infer(mel_outputs_postnet, sigm

[2018-12-06 06:00] rafaelvalle commented on #101
That's because the inverse() only exists for FP32 matrices.
Use this new code to convert WaveGlow to FP16.
[code]

[2018-12-06 06:18] cliuxinxin commented on #101
@rafaelvalle
first , let us listen to the normal wav , 3s generate 1s

[normal.wav.zip](https://github.com/NVIDIA/tacotron2/files/2651888/normal.wav.zip)

then sound of silence
[fp16.wav.zip](https://github.com/NVIDIA/tacotron2/files/2651892/fp16.wav.zip)
change to the fp16
![image](https://user-images.githubusercontent.com/6162238/49565163-3ae48980-f961-11e8-841f-2b06994138e4.png)
this time no mo

[2018-12-06 06:53] rafaelvalle commented on #101
Try restarting the notebook. The notebook on master with fp16 works fine.

[2018-12-06 06:53] #101 closed

[2018-12-06 07:22] cliuxinxin commented on #101
for safe , I  clone the entire code base
![image](https://user-images.githubusercontent.com/6162238/49567462-b6960480-f968-11e8-8c7c-861341b65a6c.png)
![image](https://user-images.githubusercontent.com/6162238/49567470-bbf34f00-f968-11e8-8eae-93c1f9acf266.png)
but still get sound of silence. It's a strange world. But compare to the wavenet. The speed is still faster. If you @rafaelvalle have more

[2018-12-07 09:18] jiangyangbo commented on #103
can provide   the newest tacotron2 model for inference?

[2018-12-08 11:45] chrizandr opened #106 "Training for other languages"
If we want to try and train this model for languages other than English, with non-roman characters, will it be enough to modify the text processing to generate appropriate sequences for the language without any other modifications?

Is there some other processing done on the input/target values that might be language specific?

[2018-12-09 03:38] abuvaneswari opened #107 "inferencing in FP16 results in silence"
Hello,

Using Pytorch 1.0 dev, Python 3.6

Utilized your pretrained models for tacotron2 and waveglow. Ran inferencing.ipynb. The resulting audio is a complete silence. Whereas, when I utilize griffin-lim for inverting the same mel output, I get somewhat acceptable audio.

Griffin-lim inversion code:
`taco_stft = TacotronSTFT(
    hparams.filter_length, hparams.hop_length, hparams.win_length,

[2018-12-09 05:05] rafaelvalle commented on #107
Thank you for reporting. We are investigating.
Use FP32 inference meanwhile.

[2018-12-11 06:39] yhgon opened #108 "fast inference"
Could you add fast inference function?

In the decoder  [model.py L532 ](https://github.com/NVIDIA/tacotron2/blob/master/model.py#L532)

It generate three outputs which are useful to check result  but these are  redundant to synthesis wave.

[code]

[2018-12-12 11:59] dnnnew commented on #102
Hi @nanma ,

Is your alignment getting better or not?
Any update?

[2018-12-12 20:14] lysektomas opened #109 "RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED"
Hi!

I have tried to run setup.py and I am getting this error

[code]

Does anyone know, what is causing this?

It is failing on
`model = Tacotron2(hparams).cuda()`

My environment:
system ubuntu 18.04
gpu: NVIDIA RTX 2080 Ti
python 3.6.0
cuda 10.0
torch 1.0
cudnn 7.4.1

others models which are using torch and tensorflow are working normally.

I have tried to use `CUDA_VISIBLE_DEVICES=0` with no s

[2018-12-13 02:32] dnnnew opened #110 "how many steps take get good alignment"
Hi guys,
I am training LJS dataset on single gtx 1080ti (22k steps, batch size 32).
But it's not learned any attention.
How many steps take get starting to learn attention single GPU.

[2018-12-13 06:41] lysektomas commented on #109
After few hours of grinding I have removed conda environment and install it all again. Plus I have installed torch using conda. It is working now.

So probably bad torch version.

[2018-12-13 06:41] #109 closed

[2018-12-13 07:41] rafaelvalle commented on #110
With the default parameters on a V100 with batch size 64 approximately 10k iters.

[2018-12-13 07:41] #110 closed

[2018-12-13 07:52] rafaelvalle commented on #106
Yes, it would be enough to substitute the symbols on the file below with the characters specific to the language at hand.
https://github.com/NVIDIA/tacotron2/blob/master/text/symbols.py

[2018-12-13 11:33] hadaev8 opened #111 "How much iterations i need?"
Training on Russian dataset, output says I have less than 0.2 loss, the default is 500 epoch.
Now I'm on 1333 epoch and still get _Warning! Reached max decoder steps_
Should I counting or it screwed up?
http://puu.sh/CgXpt/41886048cd.jpg

[2018-12-14 03:10] nanma commented on #102
@dnnnew
I train the model for more epochs with the default learning rate, the valid loss reaches 0.28+. After that I start to decay the lr and continue training. The valid loss is 0.27+ now, and the alignment is better than when only training 500 epochs.
The alignment is still not as good as the pre-trained model, I will continue training.

[2018-12-14 21:17] rafaelvalle commented on #111
Make sure the model has learned attention during training.
We have found that it is easier for the model to learn attention if silence is trimmed from the beginning and end of audio files.

[2018-12-14 22:37] hadaev8 commented on #111
I listened to the files, there is no (or too little) silence at the beginning or end in dataset.
I will keep in mind that it is better to remove silence, but probably not the best idea to change dataset during training (or its ok? bit scary to ruin everything couz im using tesla k80 and its all need a lot of time).
So how long does it take LJ Speech?
I have 0.2 val loss decrease by 1k steps, so it

[2018-12-15 00:01] rafaelvalle commented on #111
How big is the dataset?

[2018-12-15 00:52] hadaev8 commented on #111
Im using 1st male russian speaker from here
http://www.m-ailabs.bayern/en/the-mailabs-speech-dataset/
20 hours total

[2018-12-15 00:54] rafaelvalle commented on #111
It is ok to train Tacotron before glow.
Can you share your current tensorboard with alignments?
If the model doesn't learn the alignments you can't perform inference.

[2018-12-15 02:04] hadaev8 commented on #111
I mean can I train tacotron and glow at the same time? By readme, it seems glow doesn't need tacotron model for train. It seems strange a bit.

My logs lost by crush of google colab vm, but I run tacotron from the checpoint against test set, seems hopeless.
https://colab.research.google.com/drive/1eGEXdrgioRs-7R0WOEx2_fHmDC-zDmzk#scrollTo=5nJcq9nHijEH&line=7&uniqifier=1

[2018-12-16 01:44] hadaev8 commented on #111
I can confirm that silence removal helps a lot to reduce loss.

[2018-12-16 12:46] hadaev8 commented on #111
Also here is logs
https://drive.google.com/open?id=1ugef68POLQXEO1ERSfW6qL_T0YEVbOIE
not sure how to interpret distributions and histograms.

[2018-12-16 13:27] theconsummate opened #112 "FP16 run stagnates at "OVERFLOW! Skipping step. Attempted loss scale: 1""
I am using pytorch 1.0 and python 3.6 with a single Tesla V100 gpu. I tried to train with fp16 support using the latest code on the master branch.

[code]

The attempted loss scale decays to 1 and the fp16_optimizer still keeps detecting overflow.

Logs:

FP16 Run: True
Dynamic Loss Scaling: True
Distributed Run: False
cuDNN Enabled: True
cuDNN Benchmark: False
...

FP16_Optimizer received torch.c

[2018-12-16 16:48] hadaev8 commented on #111
Val loss
http://puu.sh/CiAio/87de1bd8c1.png
Alignment
http://puu.sh/CiAkW/eb0d821d1e.png
Mels
http://puu.sh/CiAlV/ad0f4f39af.png

[2018-12-17 00:59] yhgon commented on #108
during investigate the code, inference code of  of Tacotron2 depends on inference code of  encoder and decoder. It requires requires all `mel_outputs, gate_outputs, alignments`.

[2018-12-17 00:59] #108 closed

[2018-12-18 03:05] hadaev8 commented on #111
I probably should think about it before, but need I put Russian symbols to text/symbols.py ?

[2018-12-18 19:20] rafaelvalle commented on #111
Yes! Get the set of characters in the alphabet and modify symbols.py in the text/ folder.

[2018-12-18 22:12] hadaev8 commented on #111
As I understand it, there is not much difference, because one of the functions transfers characters to Latin.
Now I try Cyrillic characters in the dictionary and parameter base cleaners.

I still don’t understand how many iterations have to go before I can be sure that this doesn’t work.
When training for LJSpeech dataset, you reduced learning rate while training?

[2018-12-19 18:02] rafaelvalle commented on #111
Train until you see a yellow-ish diagonal line on the attention plots.

[2018-12-19 19:00] hadaev8 commented on #111
But I am tormented by doubts that my dataset needs other hyper parameters.
How long does it take to be sure that the algorithm cannot converge?
If val loss started to increase, does that mean everything broke down?

[2018-12-20 13:44] lrh000 commented on #109
hi, I meet a same problem. Did you only change the torch version?
my envirionment:
2080ti
pytorch 0.4.1
python 3.6.7
cuda 10.0
cudnn 7.3.0

[2018-12-21 10:22] mahdeto opened #113 "Argument #4: Padding size should be less than the corresponding input dimension"
I am seeing this error:

`Argument #4: Padding size should be less than the corresponding input dimension, but got: padding (512, 512) at dimension 3 of input [1, 1, 1, 220]`

after trying to train using this command:
`python train.py --output_directory=outdir --log_directory=logdir`

 I am using pytorch 1.0 and python 3.6 with a single Tesla V100 gpu and I am using my own data set which I process

[2018-12-21 14:47] mahdeto commented on #113
In case someone runs into this. Turns out I had some corrupted wav files (very small but had some speech) that caused this.

[2018-12-21 14:47] #113 closed

[2018-12-21 15:02] hadaev8 commented on #111
Its again me
Step 4700
Seems it overfit
http://puu.sh/Cl8ls/e5bb692522.png
Attention doesnt work
http://puu.sh/Cl8m4/101a086539.jpg
Mels is bad too
http://puu.sh/Cl8n1/07e406388b.jpg

Any tips?

[2018-12-23 04:06] ibraheemalkilanny opened #114 "waveglow.infer CUDA out of memory"
Trying to infer from published pretrained models, I am getting CUDA out of memory

How can I infer with lower GPU memory ?

[2018-12-23 09:05] zfallahnejad opened #115 "Model not found"
I want to train a simple model for my dataset (non-English). You can see my code in this notebook
 [https://colab.research.google.com/drive/1Arso-XWcklFVma5EdswFQn9XTWyV6xMu](url)
But, there are no '.pt' file in my output_directory.
Can you tell me how can I generate these two pt files which you mentioned in `Inference` section?

[2018-12-24 03:51] rnunziata opened #116 "Having problem running example inference"
trying to run using downloaded model....do not see other related issue here...so must ask. There is no other model or checkpoint available.

Passing in checkpoint:  waveglow_old.pt

[code]

and try again passing in checkpoint:  waveglow.pt after running covert utility on waveglow_old.pt

[code]

[2018-12-24 13:11] jferrer21 opened #117 "Recommendation"
What would be better for this application one Titan RTX or two RTX 2080 TI?

[2018-12-25 18:57] rnunziata commented on #116
I was able to get past this by  replacing
[code]

I saved the  audio file with code below and it is not working.

[code]

[2018-12-26 08:26] muximus3 opened #118 "Missing @staticmethod in loss_scaler.py"
[code]
this method looks like a static method in both `LossScaler` and `DynamicLossScaler` class, but without `@statticmethod`.

[2018-12-27 15:31] kushukla opened #119 "Audio seems to be breaking in the middle of the sentence"
Is there any limit on the number of characters it can synthesis? I used the pretrained network and tried with following text, but it seems the audio is getting chopped off while speaking "**Lampung**".

 "On 22 December 2018, a tsunami that followed an eruption and partial collapse of the Anak Krakatau volcano in the Sunda Strait struck coastal regions of Banten Province and **Lampung** Province,

[2018-12-29 01:02] freds0 commented on #35
I'm facing the same problem. What was the solution?

[2018-12-29 15:36] hadaev8 commented on #111
This is my default dataset https://drive.google.com/open?id=1FCwMelicl_dwE8Y5MwuGw7Pd4zDY-OVp
This is dataset with trimmed silence https://drive.google.com/open?id=13Mkp_6Sm_oj8jQoUvnYpxxZw6yXvcJpk

The code I'm used to preprocessing https://pastebin.com/4MzD1x6C
Spectrogramm, wavs predicted and from dataset https://drive.google.com/open?id=1e7Plu2x2WS8_k2yWa_ZJ_jWXGUU_oz01

I see predicted wav ha

[2018-12-31 05:53] Yeongtae commented on #111
Maybe yes, but it looks like that your model fail to learn attention values.

[2018-12-31 13:35] rafaelvalle commented on #116
This issue should not be present with pytorch 1.0

[2018-12-31 13:35] #116 closed

[2018-12-31 15:32] rnunziata commented on #116
python3
Python 3.5.2 (default, Nov 12 2018, 13:43:14)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

1.0.0

[2018-12-31 16:43] rafaelvalle commented on #116
Note that our inference notebook does not this line
`model.load_state_dict({k.replace('module.',''):v for k,v in torch.load(checkpoint_path)['state_dict'].items()})`

[2019-01-01 21:10] MotorCityCobra opened #120 "How do I show the model text for it to "speak"?"
Maybe I'm missing something but it's not obvious from the repo or the readme what to do with your own text you want the model to read.

[2019-01-02 02:02] #120 closed

[2019-01-02 07:58] yxt132 opened #121 "Training on corpus other than LJ Dataset"
This is great work! I was able to obtain amazing results using the LJ Speech Dataset. I used the default hyper parameter settings and used Waveglow.

However, I am curious how it will perform in other training Corpus. So I tested it on the VCTK corpus (https://homepages.inf.ed.ac.uk/jyamagis/page3/page58/page58.html) and I failed to get good results. All I am getting is noise even with 100,000+ ep

[2019-01-02 13:40] szcom opened #122 "Capital letters in input alphabet"
Why capital letters are part of the input alphabet and affect the size of embedding layer if input text is always lowcase()'ed ?

Here is the alphabet:
https://github.com/NVIDIA/tacotron2/blob/master/text/symbols.py#L12

And here is the english cleaner:
https://github.com/NVIDIA/tacotron2/blob/master/text/cleaners.py#L86

[2019-01-03 00:39] MotorCityCobra opened #123 "Can this do TTS with pre-trained models instead of training for a week? Where does your Tacotron 2 model go?"
I see this section in the ReadMe that says...

Inference demo
Download our published Tacotron 2 model
Download our published WaveGlow model
jupyter notebook --ip=127.0.0.1 --port=31337
Load inference.ipynb

I have the inference.ipynb notebook open.
The waveglow model 'waveglow_old.pt' is loaded and in place.
All dependencies are installed okay. I just don't know where to put the tacotron2_statedic

[2019-01-06 03:03] xiaoxiangyeyuwangye commented on #109
@lrh000 Have you solved this problem? I met a similar issue.

[2019-01-06 06:50] lrh000 commented on #109
@xiaoxiangyeyuwangye Yeah, I have. My OS is Ubuntu16.04. I managed to only install the 2080ti driver through cuda 10.0 runfile and then install cuda9.2&cudnn7.1.4 toolkit. Remember that the most important thing is to download pytorch 0.4.1 adapted to cuda9.2&python version from official url:https://pytorch.org/get-started/previous-versions/
GL!

[2019-01-06 13:00] lrh000 commented on #109
@xiaoxiangyeyuwangye I understand your problem. When I tested some simple networks, there was no bug appearing. But I met this error every time run the deep BiLSTM. Maybe this incompatibility you mentioned just happens when RNN runs. Check your own networks and the details in this kind of error traceback information, and you may find how to solve your dilemma :)

[2019-01-06 13:13] xiaoxiangyeyuwangye commented on #109
@lrh000 Thanks a lot for your suggestion. In fact, I met this problem when training CycleGAN network. The architecture of it is not so complicated, but the training procedure is.

[2019-01-07 03:32] peter05010402 commented on #97
@williamFalcon  How do you solve the problem "ModuleNotFoundError: No module named 'glow_old'"?

[2019-01-07 11:37] hadaev8 commented on #111
@Yeongtae
On what iteration its attention starts looking ok?
What loss you have at the end?

[2019-01-07 12:18] Henry-E commented on #109
This is funny, I'm running into the same issue `RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED`
It happens when using a 2080ti but not a K40. Both GPUs are using the same environment, code, etc. and pytorch 1.0 . For some reason it gets the error on the 2080ti. Is this some indication of CUDA not being installed correctly?

[2019-01-07 12:41] lysektomas commented on #109
Hi,
I completely removed conda evnironment, cudnn, cuda and graphics drivers.

Then I find everyting related to nvidia trough find /usr | grep nvidia, cuda, ... and removed few old libraries.

After that I installed it again and it was working.

It seems that I had mismatch version between cuda and cudnn, but I don't know.

[2019-01-07 15:21] Yeongtae commented on #111
Maybe around 30 epoch.

[2019-01-07 15:39] peter05010402 opened #124 "inference time a little slow"
when inference "Nice to meet you", it cost 6 secs on P100 GPU ; 10 secs on P4 GPU ?

Do you think it a little slow?

[2019-01-08 01:35] Yeongtae commented on #111
@hadaev8
You must construct char-embedding function for your language.

[2019-01-08 03:01] hadaev8 commented on #111
Russian very similar to latin languages.
So, I'm just using basic cleaners with new alphabet symbols.
Seems everything is ok.
http://puu.sh/CtisY/131115d283.png

Also my current attention for 400 epoch, I can count it doesn't work, right?
http://puu.sh/CtiIa/59a17c577c.jpg

Also, I find CMUDict symbols greatly increase the number of characters in hyper param file.
Not sure if this parameter affect

[2019-01-08 03:50] pravn commented on #111
What's the size of your dataset? Alignment won't be learnt unless the
corpus is large (~LJSpeech).

pravn.wordpress.com

On Mon, Jan 7, 2019, 7:01 PM Had <notifications@github.com wrote:

[2019-01-08 03:53] hadaev8 commented on #111
20 hours, should be ok i think.

[2019-01-08 03:56] Yeongtae commented on #111
Colud you share your dimension of char-embedding.

[2019-01-08 04:31] hadaev8 commented on #111
This, right?
http://puu.sh/CtkEZ/867200fd25.png
Without cmudict it is 45
https://github.com/hadaev8/tacotron2/blob/master/text/symbols.py

[2019-01-08 06:52] Yeongtae commented on #111
![image](https://user-images.githubusercontent.com/13597229/50814461-1c592000-135d-11e9-9337-1f29d6099b53.png)
It's maybe helpful to reduce these parameters. ex) half
Because your char embedding dimension is so small.
In my case, 80.

[2019-01-08 07:13] Yeongtae commented on #111
In addition, why are you use (sr:16000?)

[2019-01-08 13:15] hadaev8 commented on #111
I will try to reduce it.
Yes, it is 16000, its sr of dataset, is it important? I can resample it ofc.

[2019-01-08 16:38] Yeongtae commented on #111
Yes, I recommend to you that you set 128 to encod-embed-dim

[2019-01-08 16:40] hadaev8 commented on #111
Should i reduce decoder_rnn_dim=1024 ?

[2019-01-08 17:20] Yeongtae commented on #111
Not yet

[2019-01-08 23:04] hadaev8 commented on #111
128 128 encoder decoder dim, 32 batch size, rest default.
Still seems broken
http://puu.sh/CtIm8/5bbe8d1c05.png

[2019-01-09 10:38] annlaumets opened #125 "RuntimeError: code is too big"
Hi!
I'm having a problem with getting a RuntimeError saying that the code is too big. I'm using the LJSpeech dataset and I'm trying to train my own model. The machine has GTX1080 Ti GPU. I installed Pytorch 1.0 with CUDA 10.0. Here's the traceback:

FP16 Run: False
Dynamic Loss Scaling: True
Distributed Run: False
cuDNN Enabled: True
cuDNN Benchmark: False
Input dir:  None
Output dir:  data/lj_spe

[2019-01-09 10:51] peter05010402 commented on #125
how about reducing batch size to 32

[2019-01-09 11:33] annlaumets commented on #125
I tried reducing batch size. I even tried batch size 8 and the problem was still there.

[2019-01-09 14:15] WillQuCD opened #126 "How to get the max wav value?"
Thanks for the contribution!
I found the default max wav value in hparams is 32768.0.
Is this a  empirical value? If not, how can I get this value for my own dataset?
Also, how can I get the value of mel_fmin and mel_fmax?

Thanks!

[2019-01-09 15:40] hadaev8 commented on #111
@Yeongtae should you post your tensorflow logs? I wonna look how it looks then things works

[2019-01-10 03:47] a-mushroom commented on #126
One wav point store in 2 bytes, 32768 is the max value of 2 bytes (2^15).

[2019-01-10 10:05] WillQuCD commented on #126
Oh, I see. Thanks.
In term of value of mel_fmin and mel_fmax, could you explain more? I am not a speech guy.
Why do we need limit the mel values?

[2019-01-11 10:47] WillQuCD opened #127 "Is it possible to learn good spectrogram representation without good attention alignment?"

[2019-01-11 11:00] WillQuCD commented on #127
I use my dataset (500,000 sentences and each one is around 1s).
It seems the model has learned good spectrogram after 56000 iterations but with poor attention alignment.
Is this result reasonable? Is it possible to synthesis comprehensible speech in this case?
Thanks!

![fireshot capture 1 - tensorboard - http___127 0 1 1_8008_](https://user-images.githubusercontent.com/28244700/51029965-3fbbdf00-

[2019-01-11 16:20] hadaev8 commented on #111
Mm, no.
Now I'm trying with default sample rate, but it doesn't seems to coverage.
At least at 200 epoch http://puu.sh/Cv4LF/18cc92c80b.png

[2019-01-11 23:21] Yeongtae commented on #111
If you dont see diagonal attention around 30 epoch, stop training

[2019-01-11 23:30] hadaev8 commented on #111
Im probably retarded.
Only now after all these days i come up with idea of checking files lists and find I mixed up file names and 9k samples was in validation file instead of train.
It should explain everything.

[2019-01-13 12:15] Mr-DDDAlKilanny opened #128 "Train Fails with error: shape '[1, 1, 38514]' is invalid for input of size 77028"
Trying to train with WAV files with sample rate 22050 (same as LJSpeech) on my own dataset that is identical to LJspeech dataset, the dataloader fails to load the wav file. I didn't change anything in haparams.py but only the batch size.

Is there anything to change to WAV files to match LJspeech wav files? Or the issue is something else

Can you help please ?

[code]

[2019-01-13 12:38] Mr-DDDAlKilanny commented on #128
Turns out that my WAV files were 2 channels. Converting to single channel fixed the issue.

[2019-01-14 07:01] rishikksh20 commented on #119
I am also facing same problem.

[2019-01-15 03:31] hadaev8 opened #129 "Can't save checkpoint"
I doing it in google colab, everything was ok until yesterday
May be some lib get upgraded?
Error:
[code]

Colab notebook
https://colab.research.google.com/drive/1l23gr7Zylc45b1BI4I3uL36ZcQ57QuoH

Any ideas?

[2019-01-15 13:53] stevenygd opened #130 "Not shuffling the training set?"
https://github.com/NVIDIA/tacotron2/blob/825ffa47d18994510882f0fa4f2708f4359d5377/train.py#L62

Is there a reason why we don't shuffle the training set here? Thanks!

[2019-01-16 00:39] Yeongtae commented on #111
In the studies related tacotron, phoneme embedding make more easy to converge model.
I recommend it to you.
Using lexicon model, make your own phone embedding function.

[2019-01-17 08:02] #129 closed

[2019-01-17 12:43] yxt132 opened #131 "Attending to full mel or prenet/dropout mel?"
I saw Rafael made change in "model.py" in May 2018 so that the model attends to the full mel rather than the prenet and dropout mel. However, the code was modified in November 2018 and it now attends to the prenet again. What is the reason for changing it back? Rafael previously indicated that changing the attention to full mel can speed up the convergence. What made you change the idea? Thanks.

[2019-01-18 00:55] MotorCityCobra opened #132 "Trying to train on additional wavs I added, getting an out of range error"
I've carefully added M-Ailabs female english spoken voices as wav files and created txt and csv files in the same format as the ljs set.
I'm not sure what this error is telling me needs to be changed. I tried changing more values than just the txt paths in hparams.py. No luck.
There are about 12,000 additional wav files. It never seems to grab an ljs wav AND THEN throw an error. This error always

[2019-01-18 22:46] MotorCityCobra commented on #132
Figured it out. Sampling rate of my new wavs were out of range just like the error said.
Used librosa to change and wavio to change.

y, s = librosa.load(wav_file, sr=22050)
wavio.write(wav_file, y, rate, sampwidth=2)

Note that you want a bitrate of 16 so use sampwidth of 2 as above.

[2019-01-18 22:47] #132 closed

[2019-01-19 01:11] rafaelvalle commented on #131
The model generalizes better if it attends to the prenet Mel.

[2019-01-19 01:49] yxt132 commented on #131
Thank you for your reply, Rafael. I am currently training on the World English Bible corpus with about 25,000 utterances in the trainging set. The sampling rate is 12,000. I used the latest repo to train this dataset with all the default hyper parameters except the sampling rate. I have only one nvidia Geforce 2080 ti with 12 G memory so that I have to cut the batch size to 4 for my case. I was no

[2019-01-19 15:08] hadaev8 commented on #111
I can report it doesnt work with 128 and default 512 embedding/encoder dim
It how it looks now at 30 epoch for 512
http://puu.sh/Cz6hJ/f6a4ef05f8.png

Do i need phonem data for lexicon model?

[2019-01-23 06:35] truemanlee opened #133 "masked problem"
in model.py line 524:
`

    def parse_output(self, outputs, output_lengths=None):
        if self.mask_padding and output_lengths is not None:
            mask = ~get_mask_from_lengths(output_lengths)
            mask = mask.expand(self.n_mel_channels, mask.size(0), mask.size(1))
            mask = mask.permute(1, 0, 2)

            outputs[0].data.masked_fill_(mask, 0.0)
            outputs[1].d

[2019-01-23 16:12] #127 closed

[2019-01-23 16:13] #126 closed

[2019-01-26 04:05] #133 closed

[2019-01-28 07:04] vikrantsharma7 commented on #70
@rafaelvalle Can you please elaborate the kind of fine tuning that would be required for such small datasets (1-5 hrs)?
A smaller embedding size, encoder dims, attention dims?
For Tacotron2 as well as WaveGlow

[2019-01-29 20:52] AlexanderKozhevin commented on #72
@rafaelvalle Sorry for stupid question. Can we train train network in any language (except asian ones)?

[2019-01-30 05:40] dnnnew commented on #111
@hadaev8 Any success?

[2019-01-30 11:36] hadaev8 commented on #111
No
attention looks this after 50 interations
http://puu.sh/CExPx/83a39b7259.png

Maybe I need more, idk.

[2019-01-31 07:32] shwetagargade216 opened #134 "How to combine these models with gst-tacotron,"
Hello, @rafaelvalle  Really nice work.

I would like to combine this work with global style tokens.. please let me know

[2019-02-01 03:35] dnnnew opened #135 "Little gap between words on the alignment plot"
Hi,
My alignment plot has a little gap between words.

<img width="1111" alt="alignment-63k" src="https://user-images.githubusercontent.com/45612997/52099632-f1d24e00-260e-11e9-9023-8c547ebcbdb1.png">

batch size - 64
filter_length=2048,
hop_length=275,
win_length=1100,

And it sounds bit like reading separated words.
Is there anyone who had same issue before.

Thanks.

[2019-02-02 03:24] hdmjdp opened #138 "The tone of syn wav is wrong, sound like dialects."
have anyone got the same problem
syn:
![image](https://user-images.githubusercontent.com/26831425/52159298-2f051180-26dd-11e9-81cf-8095733bda33.png)
origin:
![image](https://user-images.githubusercontent.com/26831425/52159305-578d0b80-26dd-11e9-8cdb-9c036ba52ae6.png)

[2019-02-02 11:59] wanshun123 opened #139 "KeyError: 'optimizer' when running training from checkpoint"
I've downloaded the tacotron 2 model from https://drive.google.com/file/d/1c5ZTuT7J08wLUoVZ2KkUs_VdZuJ86ZqA/view?usp=sharing to the project directory and am trying to resume training from it as follows:

`python train.py --output_directory=outdir --log_directory=logdir --checkpoint_path tacotron2_statedict.pt
`

This results in the following:

[code]

How should this be done?

[2019-02-04 14:06] CorentinJ opened #140 "Moving the waveglow output to CPU is very slow"
In the [inference demo](https://github.com/NVIDIA/tacotron2/blob/master/inference.ipynb), after these lines:
[code]

I call `audio.detach().cpu()` and `cpu()` alone takes ~6 seconds to run for a tensor of approximately 60K elements. Is that expected behaviour from torch or is there something funky going on with the waveglow output tensor?

[2019-02-04 14:35] CorentinJ commented on #140
Alright my bad, it's just that the operations are asynchronous. Calling `torch.cuda.synchronize()` between each major step of the synthesis helped isolate the bottleneck. It takes ~8 seconds to generate the waveform of a short sentence on my GTX 1080. That doesn't seem right, considering this quote from the Waveglow paper:

[2019-02-07 01:27] MotorCityCobra commented on #121
Probably 400 is way too small.
I've been training on an M-AILABS Speech Dataset of audio books read by Judy_Bieber that is 15,700 utterances and it's not working out for me.
I thought I matched the LJ set but after 90,000 iterations it is gibberish just like it was at 1000 iterations. (The LJ set could speak fairly well at 90,000).

[2019-02-07 01:40] rafaelvalle commented on #121
When training other datasets and assuming you have at least say 14 hours:
- make sure the audio matches the transcription – you'd be surprised...
- make sure you trim silences from both the beginning and end.
- make sure the symbols match the transcription

[2019-02-07 01:44] MotorCityCobra opened #141 "I'm having no luck getting model to learn another voice on different voicesets"
I put this in the commandline with the path to my wavs
sed -i -- 's,DUMMY,my_wav_dir/wavs,g' filelists/*.txt

Is this where I go arry? Because I don't see this in the instructions.
I get an error unless I also put the txts of the train and val files in hparams so I set those

    training_files='filelists/jb_train.txt',
    validation_files='filelists/jb_val.txt'

I've been training on an M-AILABS

[2019-02-07 01:52] MotorCityCobra commented on #121
I did spot checks on this. The M-AILABS sets come with csvs I put through Pandas to combine and randomly shuffle >>> then save to txts. The random checks I did to the final txt and the final wav paths for the model check out.

I didn't know you would see this here.
I opened another issue for this with more detail - I will check before and after silence and close that issue if this is the remedy. T

[2019-02-07 03:23] MotorCityCobra commented on #121
![screen shot 2019-02-06 at 10 20 44 pm](https://user-images.githubusercontent.com/14045554/52388704-a8925c00-2a5d-11e9-943f-a0e7ed29da4f.png)

Yep. M-AILABS wavs are the ones in the back window and LJ in the front.
I'll have to write a function to trim 0.5 seconds off the front of a couple ten thousand wav files.

[2019-02-07 06:22] Yeongtae commented on #111
@hadaev8
Normalizing values of melspectrogram can help to train model.
Because original values are skewed in negative direction.

Here is my implementation for normalization.
https://github.com/Yeongtae/tacotron2/blob/prosody_encoder_test/layers.py
https://github.com/Yeongtae/tacotron2/blob/prosody_encoder_test/inference.py
I refer to code of https://github.com/Rayhane-mamah/Tacotron-2

[2019-02-08 11:11] WillQuCD commented on #132
@MotorCityCobra Why don't change the sampling_rate=22050 in hparams.py?

[2019-02-09 05:09] MotorCityCobra commented on #132
@WillQuCD

Because I'm using a blend of three datasets. (All about 12 to 15 k utterances).
The LJ dataset is originally in 22050 and M-AILABS wavs were something else.
Fast forward weeks later and I find the M-AILABS had 0.5 secs silence before and after that needed removed.
I'm training now and I'm at 53000 iterations.
Not sure if it's going to work out yet.

[2019-02-09 14:03] WillQuCD commented on #132
@MotorCityCobra
"We have found that it is easier for the model to learn attention if silence is trimmed from the beginning and end of audio files."
Just cite the words from https://github.com/NVIDIA/tacotron2/issues/111
Hope this help for you.
No. I am training on my own dataset.

[2019-02-10 00:43] rafaelvalle commented on #141
Make sure you remove silence from the beginning and end of audio files.
Also make sure your transcription is correctly aligned with the audio.
Combining multiple datasets should not be a problem.
What do your alignment plots look like?

[2019-02-10 00:44] rafaelvalle commented on #140
Our performance results were computed on a NVIDIA V100 with large input size, i.e. ~ 10 seconds or 880 mels.

[2019-02-10 00:44] #140 closed

[2019-02-10 00:44] rafaelvalle commented on #139
The shared model is not to be used for checkpointing.

[2019-02-10 00:44] #139 closed

[2019-02-10 00:45] rafaelvalle commented on #135
The alignment looks promising. What dataset is this? Are there no gaps in the dataset itself?

[2019-02-10 00:46] rafaelvalle commented on #134
That's is a great idea, @shwetagargade216.
Please let us know and add a pull request if you decide to implement the global style tokens!

[2019-02-10 00:50] rafaelvalle commented on #131
What is the distribution of sentence lenghts in seconds from your dataset?
What GPU are you using?

[2019-02-10 00:52] rafaelvalle commented on #130
We shuffle it once: https://github.com/NVIDIA/tacotron2/blob/master/data_utils.py#L28
It's probably a good idea to shuffle it on every epoch!

[2019-02-10 00:52] #128 closed

[2019-02-10 00:53] rafaelvalle commented on #114
Try using smaller mel chunks with some overlap. Then crossfade the audio

[2019-02-10 00:54] rafaelvalle commented on #115
The .pt files with the model, optimizer states, etc, are saved during checkpoint in training.

[2019-02-10 00:55] rafaelvalle commented on #117
The RTX because it has more memory and allows you to train faster.

[2019-02-10 00:58] rafaelvalle commented on #119
You probably need to change max_decoder_steps.
Something like: tacotron.decoder.max_decoder_steps = 8000
https://github.com/NVIDIA/tacotron2/blob/master/hparams.py#L58

[2019-02-10 01:00] rafaelvalle commented on #121
Use ffmpeg instead because it's based on amplitude. Also, it looks like there's some amplitude offset your M-AILABS wavs. Notice silence is higher or lower than 0...

[code]

[2019-02-10 01:01] rafaelvalle commented on #121
To make sure that the symbols used in the language are the same symbols in the list of symbols. If you're using english, the current symbol list should be fine.

[2019-02-10 01:02] rafaelvalle commented on #122
You can train with both uppercase and lowercase characters by changing the cleaners.

[2019-02-10 01:03] rafaelvalle commented on #123
It looks like the model given by `load_model` does not have the same keys/layers as the model from `nv_md`

[2019-02-10 01:37] rishikksh20 commented on #119
@rafaelvalle thanks 👍

[2019-02-10 02:29] MotorCityCobra commented on #141
![76000_iterations](https://user-images.githubusercontent.com/14045554/52528611-cdcad880-2cb0-11e9-88dc-ca452b311de5.png)

I'm at 76000 iterations now, after about 3, maybe it was 4 days.
Spot checks of my transcripts look correct.

I trained on just the LJ set with all else being equal and it started to make sense at 90,000 iterations. Maybe 30,000 additional utterances will take longer.

I saw y

[2019-02-10 02:30] #141 closed

[2019-02-10 02:37] MotorCityCobra commented on #121
Oh, I didn't notice that. I wonder if that's a problem and if it's fixable, since the offset doesn't look like it's off in a consistent way.

You mean the set of characters in the txt files of the transcripts of the wav files?
I brought all in with Pandas with

    all1 = pd.read_fwf('/path/to/txt/metadata', header=None)

and concatenated and shuffled. The first line before the '|' is reading the

[2019-02-10 03:08] stevenygd commented on #130
I thought shuffling it on every epoch is good for batch norm. (From the original paper)

[2019-02-10 06:38] rafaelvalle commented on #130
Exactly! Hence it's probably a good idea to shuffle on every epoch. We'll update the repo. Thanks for noticing it.

[2019-02-10 07:20] dnnnew commented on #135
Dataset is Mongolian, female, 15.3k samples and 35 hours.
Alignment after 200k iters:
<img width="676" alt="screen shot 2019-02-10 at 2 50 02 pm" src="https://user-images.githubusercontent.com/45612997/52530822-42038b80-2d46-11e9-9598-500ee4599639.png">

There are no gaps in the dataset.

Here is Alignment of 250k iters https://github.com/Rayhane-mamah/Tacotron-2 same dataset (different sentence).

[2019-02-12 06:10] yxt132 commented on #131
The utterance lengths range from 3-12 seconds roughly. I used Nvidia Geforce 2080 TI. I tried to cut the leading and trailing sliences and it helped. I started to get some meaningful alignment at 180,000 iterations but only after 300,000 iterations the alignments are acceptable. I was wondering if it is because of the audio quality (i.e., low sampling rate).

[2019-02-12 09:23] FredericGodin commented on #112
Same issue here with Nvidia RTX 2080 Ti card...
Any solution yet?

[2019-02-12 16:22] annlaumets commented on #125
Hi!
The problem still persists. I even tried it with batch size 1. Can somebody help me?
[code]

[2019-02-12 16:27] rafaelvalle commented on #112
Try this pull request: https://github.com/NVIDIA/tacotron2/pull/137

[2019-02-13 11:25] Mr-DDDAlKilanny commented on #114
Thanks. I think this solution would lead sound to be low quality due to multiple short chunks being combined. Is there something better instead? Thanks again

[2019-02-13 13:46] Yeongtae commented on #134
I'm done to implement prosody modeling in https://arxiv.org/abs/1803.09047.
https://github.com/Yeongtae/tacotron2/tree/prosody_speaker_embedding_test
This branch can modeling f(ref audio, speaker index, text) = target audio
GTS will be added soon.

[2019-02-13 16:28] rafaelvalle commented on #134
@Yeongtae what do you mean by GST? The term is not explicitly on the paper.
Can you submit a PR with audio samples?

[2019-02-13 16:29] #117 closed

[2019-02-13 16:30] #100 closed

[2019-02-14 00:32] dnnnew commented on #135
It isn't solved yet. I am testing another hparams, changing dataset's parts.

[2019-02-14 01:46] Yeongtae commented on #134
@rafaelvalle The paper of global style token is the extension of https://arxiv.org/abs/1803.09047.
If someone implements attention between randomly initialized embeddings and reference encoder in my branch, it makes work easily.

[2019-02-14 01:53] pravn commented on #134
GST works here:
https://google.github.io/tacotron/publications/global_style_tokens/
https://arxiv.org/abs/1803.09017
https://arxiv.org/abs/1803.09047

We need to implement various kinds of style encoders (@yongtae which repo
is this?)
See also the new work which is an GAN improvement on style tokens:
https://openreview.net/forum?id=ByzcS3AcYX

pravn.wordpress.com

On Wed, Feb 13, 2019 at 5:46 PM Y

[2019-02-14 02:01] Yeongtae commented on #134
https://github.com/Yeongtae/tacotron2/tree/prosody_encoder_test
It works only one speaker.
https://github.com/Yeongtae/tacotron2/tree/prosody_speaker_embedding_test
It works multiple speakers.

[2019-02-14 02:40] tsungruihon commented on #17
@maozhiqiang the link is missing too.

[2019-02-14 04:12] rafaelvalle commented on #135
Let us know. I'll keep it open until we fix it.

[2019-02-14 05:40] hubeibei007 opened #142 "noise on the specific frequency band when do synthesis"
Hi,

I have trained the model on a Mandarin dataset. Currently it achieved the coverage and get a linear alignment. But I found there are noises on the specific frequency band, such as 5.5khz, 2.75khz, 8.5khz. The following is the synthesis spectrogram. When listen the generated audio samples, the sound is not clean enough. Could anyone share your opinion about the problem? Why my spectrogram look

[2019-02-14 08:59] jokigenki opened #144 "Error when running training, DLL load failed, module could not be found"
I've followed the installation instructions (on Windows 10) but when I get to running the training command, it fails with the following error:
File "train.py", line 7, in <module>
    import torch
  File "~\Miniconda3\envs\python36\lib\site-packages\torch\__init__.py", line 84, in <module>
    from torch._C import *
ImportError: DLL load failed: The specified module could not be found.

site-packa

[2019-02-14 09:37] shwetagargade216 commented on #134
@Yeongtae Could you please share the samples of gst .

[2019-02-14 09:44] shwetagargade216 commented on #134
And also @Yeongtae  have you did multi - speaker gst ?
Means Is it possible to combine
1. @rafaelvalle (tacotron2 + waveglow model) which is in pytorch with the
2. gst ([syang1919](https://github.com/syang1993/gst-tacotron)) but mainly this work is in tensorflow
3. also multi-speaker ( for voice cloning) just like biadu voice cloning with few sample

I trying to combine all the above 3 work togeth

[2019-02-14 10:07] Yeongtae commented on #134
- I can't share samples because of private issue in my Korean data.
- In addition, I'm fail to converge English model. There is a difference which uses phone embedding or char embedding between Korean and English. char embedding makes it hard to converge.

1. There is need to few modification for combining waveglow, such as inference function waveglow(f(ref audio,speaker id, text) = target audio.

[2019-02-14 10:36] shwetagargade216 commented on #134
Thanks for the quick reply. Your comments are really appreciated.
For now will just combine @rafaelvalle  work  with your multi-head attention for reference audio just like gst.
One more question currently I'm also working on M-ALIBA data, but I gone through other issues, which has mentioned that, corresponding data set has some issues, even though after cleaning results are not good like ljspeech

[2019-02-14 12:12] Yeongtae commented on #134
Phone embedding and melspectrogram normalization mainly help model to converge.
 If I take some progress, I will report it.

[2019-02-14 17:16] rafaelvalle commented on #134
@Yeongtae you can use ARPAbet for english if you think a phone-like embedding will be easier than char embedding.

[2019-02-14 23:09] Xueyuan-Zhang commented on #125
Same issues here with same dataset/settings using GTX1070

[2019-02-16 09:17] jaywantmahajan commented on #134
@Yeongtae , nice work.
1 - Is your "https://github.com/Yeongtae/tacotron2/tree/prosody_speaker_embedding_test" is complete or still in progress?
2 - Which dataset you have successfully used to train your implementation?

[2019-02-16 20:28] markopolojarvi opened #145 "Pre-trained waveglow not producing results like samples"
I've been playing around with tacotron and it's such a great piece of work but I'm guessing I'm missing something because I can't get it to produce similar results as demonstrated with https://github.com/NVIDIA/waveglow.

I'm using pre-trained waveglow_old for testing but I'm getting a lot of artifacts.

Here's a sample of what I'm getting https://picosong.com/wJMxP/

[2019-02-18 02:02] yxt132 commented on #134
@rafaelvalle Can you elaborate on how to use ARPAbet? I am curious how it will improve the convergence and give it a try. Thanks.

[2019-02-18 05:48] yxt132 commented on #134
@Yeongtae Can you tell a little bit the Korean training corpus you used? Roughly how many speakers and how many hours of data in total? Thanks. In your opinion, what is the advantage of prosody speaker embedding (or speaker verification) versus GST? If we can successfully implement GST, why would we still need prosody speaker embedding model?

[2019-02-19 01:10] androidof2008 commented on #125
When I use torch-1.0.1.post2, I got the same error.
I uninstalled torch-1.0.1.post2, and installed torch-1.0.0, didn't get this error, but I got another error:
Traceback (most recent call last):
  File "train.py", line 289, in <module>
    args.warm_start, args.n_gpus, args.rank, args.group_name, hparams)
  File "train.py", line 217, in train
    y_pred = model(x)
  File "/usr/local/lib/python3.5/

[2019-02-19 01:44] androidof2008 commented on #125
Use pytorch 1.0.0 and don't set batch_size to 1.
It works now.

[2019-02-20 05:29] vikrantsharma7 opened #146 "Different outputs for the same input"
During inference, providing the same text input multiple times gives different outputs.
Is there a way to make it consistent without a potential loss in quality?

Thanks.

[2019-02-20 09:01] beknazar commented on #102
@nanma Could you eventually reach the performance results of pre-trained models?

[2019-02-21 01:34] Yeongtae commented on #134
1. My private dataset consist of 5 speaker, around 50 hour, unbalanced data volumes for each.
2. In latest studies about style modeling, they sad 'phone embedding make training more easy'

[2019-02-21 07:08] Engineering-Course commented on #135
Hi @dnnnew,
Do you find out what causes the gaps?
I also meet the same problem on my dataset.
![image](https://user-images.githubusercontent.com/7713394/53150030-77339780-35ea-11e9-941a-7eaa5022185e.png)

[2019-02-21 07:23] dnnnew commented on #135
@Hi, Engineering-Course.

Not yet.
I guessed it might be depend on my dataset.

My dataset's wav file has multiple sentence or incomplete sentence. So I am working on my dataset (realignment wav and text) now then will train again. I'll report result.

[2019-02-21 07:25] dnnnew commented on #135
@Engineering-Course
please let me know If you find out what causes the gaps.

[2019-02-21 07:41] Engineering-Course commented on #135
However, the wav files on my dataset have the complete sentence and no silence.
Does sampling_rate matter? @rafaelvalle
The sampling rate of my wav is 48000. Then I change the sampling rate in hparams.py from 22050 to 48000.

[2019-02-21 07:45] Engineering-Course commented on #135
BTW, What's your tool to visualize the wave like this? @dnnnew
![image](https://user-images.githubusercontent.com/7713394/53152062-94b73000-35ef-11e9-975b-3c8f226a34fa.png)

[2019-02-21 07:46] dnnnew commented on #135
Adobe Audition @Engineering-Course.

[2019-02-21 07:58] Engineering-Course commented on #135
Thanks~

[2019-02-21 08:05] dnnnew commented on #135
I trained LJ-Speech dataset (same hparams which I trained my dataset) and it looked no gaps.

Since the wav files on your dataset have the complete sentence and no silence, maybe should we change attention network size?

[2019-02-21 08:12] Engineering-Course commented on #135
I also have trained LJ-Speech dataset and it sounds great. And I only change the sampling rate in hparams to train my dataset.
What's your suggestion for attention network size?

[2019-02-21 08:33] dnnnew commented on #135
I changed these
filter_length=2048,
hop_length=275,
win_length=1100 then my dataset learn attention (get aligned but with gaps).

Before You told me about that the wav files on your dataset have the complete sentence and no silence, I never thought about it.

I'll try it later.  (maybe increase)

[2019-02-21 08:46] Engineering-Course commented on #135
Thanks. I'll try it.

[2019-02-21 10:37] tsungruihon opened #148 "how to show alignment image or mel image"
i train a model on chinese corpus , then used `tensorboard --logdir=output/log_dir/`, but the `tensorboard` not shown `alignment image` or `mel image`

[2019-02-21 10:42] tsungruihon commented on #135
may i ask how to generate alignment image? i use `tensorborad --logdir=output/log_dir ` but it just not show me the `alignment image`

[2019-02-21 11:47] tsungruihon commented on #74
您好 想问下您有试过在中文语料上尝试过这个项目吗？

[2019-02-21 12:21] begeekmyfriend commented on #74
@tsungruihon https://github.com/NVIDIA/tacotron2/issues/74#issuecomment-415361078

[2019-02-21 13:36] hadaev8 commented on #111
@Yeongtae
Have you tried to reproduce the results?
33 iteration with default dataset and code.
Attention still doesnt work

[2019-02-21 15:04] delgerdalai commented on #135
@tsungruihon

https://github.com/NVIDIA/tacotron2/blob/f2c94d94fd64041bd8fdbd908beceea35e82ace0/hparams.py#L13

Alignment image is generated every 1000th iteration in the TensorBoard -> Images.

![screen shot 2019-02-21 at 10 58 41 pm](https://user-images.githubusercontent.com/3131525/53178549-019ceb00-362d-11e9-838f-642c38423ec6.png)

[2019-02-21 15:10] delgerdalai commented on #148
At least after 1000 iters, you can see alignment image

https://github.com/NVIDIA/tacotron2/issues/135#issuecomment-466033341

[2019-02-21 15:41] tsungruihon commented on #148
in my `directory`, it has these files `checkpoint_0`  `checkpoint_1000`  `checkpoint_2000`  `checkpoint_3000`  `log_dir`.
therefore it should show the alignment image in tensorboard ?

[2019-02-21 15:47] delgerdalai commented on #148
Yep,
![screen shot 2019-02-21 at 11 46 04 pm](https://user-images.githubusercontent.com/3131525/53181699-04024380-3633-11e9-82bc-b9fd648a93f6.png)

localhost -> must be your training machine ip.

[2019-02-21 15:50] tsungruihon opened #149 "TypeError: Cannot handle this data type"
when i ran `python train.py --output_directory=taco_output/ --log_directory=log_dir`
it shown me the below error, seems the `tensorboardX` not work.

[code]

[2019-02-21 15:53] tsungruihon commented on #149
i downgrade the tensorboardX to `1.1` and then work.

[2019-02-21 15:53] #149 closed

[2019-02-21 15:54] delgerdalai commented on #149
pip install -r requirements.txt

[2019-02-21 15:56] tsungruihon commented on #148
thanks. it work now.!!

[2019-02-21 15:58] #148 closed

[2019-02-22 02:15] rafaelvalle commented on #135
@dnnnew did you try training with the default params in the repo?

[2019-02-22 02:16] rafaelvalle commented on #146
As described in the paper, this is a feature such that model outputs has some variety during inference.

[2019-02-22 02:16] #146 closed

[2019-02-22 02:18] rafaelvalle commented on #145
What parameter sigma did you use to produce this sample?

[2019-02-22 02:19] rafaelvalle commented on #142
Did you train waveglow on your Mandarin dataset?

[2019-02-22 02:54] dnnnew commented on #135
@rafaelvalle, I did. But after 200k iters (415 epochs) with default params, it didn't learn attention.
I changed params like above (from https://github.com/Rayhane-mamah/Tacotron-2), then it looks like this image just in 16k iters.

<img width="646" alt="screen shot 2019-02-22 at 10 51 00 am" src="https://user-images.githubusercontent.com/45612997/53216530-d8fa0d00-368f-11e9-8ccb-13d640dfa96f.png"

[2019-02-22 02:56] rafaelvalle commented on #135
Please share the exact hparams you used to reach alignment in 16k iters.

[2019-02-22 03:09] dnnnew commented on #135
I changed

_hparams.py_
<img width="701" alt="screen shot 2019-02-22 at 11 08 22 am" src="https://user-images.githubusercontent.com/45612997/53217229-3beca380-3692-11e9-9bb9-2104a195e542.png">
batch_size=36

_symbols.py_
_letters = 'АБВГДЕЁЖЗИЙКЛМНОӨПРСТУҮФХЦЧШЪЫЬЭЮЯабвгдеёжзийклмноөпрстуүфхцчшъыьэюя'

I trained 2 GPU.

[2019-02-22 03:12] dnnnew commented on #135
Also I changed only

_filter_length=2048_

But it didn't learn attention.

[2019-02-22 05:09] hubeibei007 commented on #142
Hi Rafael,

Thanks a lot for your reply. I trained the tacotron2 on my Mandarin dataset, and finetuning the waveglow  model on the same Mandarin dataset. During the synthesis procedure, the mel spectrograms of each step are the followings:

The inferenced melspec of tacotron2:
![wechatimg25](https://user-images.githubusercontent.com/17315133/53220590-4c0b7f80-36a0-11e9-91de-63ae56f2e78e.jpeg)

The

[2019-02-22 07:29] tsungruihon commented on #135
@dnnnew may i ask if the `train.csv` has numbers, like `123456`, does the `_characters` in `symbols.py` should contain these six numbers?

[2019-02-22 07:34] delgerdalai commented on #135
You have to convert number to words.
1 => one
2 => two
etc ....
using characters in symbols.py

or

you can write custom cleaner function like that  https://github.com/NVIDIA/tacotron2/blob/master/text/cleaners.py

[2019-02-22 08:21] rafaelvalle commented on #135
@dnnnew for sanity checking: when you ran for 200k and it did not learn attention, did you use the cyrillic symbols?

[2019-02-22 08:42] dnnnew commented on #135
@rafaelvalle

Yes

No,
I use preprocess.py and it generate mels with current hparams.
I got mels generation codes from here https://github.com/NVIDIA/tacotron2/blob/f2c94d94fd64041bd8fdbd908beceea35e82ace0/data_utils.py#L37.
<img width="879" alt="screen shot 2019-02-22 at 4 27 24 pm" src="https://user-images.githubusercontent.com/45612997/53229741-052d8200-36c0-11e9-98bc-5d15aaca57b1.png">

I just

[2019-02-22 12:33] hadaev8 commented on #111
Seems it work after 45 epoch.

[2019-02-22 12:53] dnnnew commented on #111
@hadaev8 without any changes?

[2019-02-22 13:03] hadaev8 commented on #111
@dnnnew
I think my problem is that I didn’t wait for enough time (30 epochs), now I’ll start and try 60

[2019-02-22 14:54] tsungruihon commented on #135
@dnnnew May i ask you for some idea about my `alignment` image ? Or how could i judge the effectiveness by the `alignment` image that i have ?
<img width="669" alt="screen shot 2019-02-22 at 10 53 21 pm" src="https://user-images.githubusercontent.com/11624203/53250126-be0db400-36f4-11e9-80d3-700a048e55cf.png">

[2019-02-22 15:27] tsungruihon commented on #17
@maozhiqiang  could you share you `hparams.py` detail ?

[2019-02-22 18:06] markopolojarvi commented on #145
@rafaelvalle 0.666. It's pretty much exactly as in https://github.com/NVIDIA/tacotron2/blob/master/inference.ipynb.

[2019-02-22 18:39] rafaelvalle commented on #145
What's your Taco2 val loss?

[2019-02-22 18:53] rafaelvalle commented on #142
The horizontal lines are waveglow's bias. They should go away as the likelihood improves.
A quick hack is to subtract the noise bias from the noisy audio on the frequency domain. Here's an notebook example, where noise.wav is a slice of audio with waveglow bias noise only and noisy_audio is some other audio generated with waveglow.

[code]

[2019-02-22 18:57] rafaelvalle commented on #142
You can improve Tacotron2 validation loss by annealing the learning rate and training longer.

[2019-02-22 18:59] rafaelvalle commented on #135
@dnnnew did you try training taco2 from this repo with mels produced from Rayhane-mamah repo?

[2019-02-23 00:01] aaronlex opened #150 "Changing sampling rate effect?"
Does training on audio data that has a different sampling rate from LJ Speech Dataset have a negative effect on final outcome? I ask because I have audio data with 16000 sampling rate, haven't tried training on it yet.

[2019-02-23 00:58] tsungruihon commented on #135
@rafaelvalle @dnnnew  Cause i use chinese corpus,  i changed the `hparams.py` into below:
[code]

And in the `7000 steps`, the `alignment` image like this below:

<img width="680" alt="screen shot 2019-02-23 at 8 50 03 am" src="https://user-images.githubusercontent.com/11624203/53279054-6731ca00-3748-11e9-9117-a38f0924fe50.png">

Does it make sense? Or i should need to modify `hparams.py` again ?

[2019-02-23 02:15] dnnnew commented on #135
@rafaelvalle No. I didn't.

[2019-02-23 02:59] rafaelvalle commented on #135
@dnnnew give it a try.

[2019-02-23 13:07] dnnnew commented on #135
@rafaelvalle Ok, I'll try it. Thanks.

[2019-02-24 04:50] ajaysg opened #151 "Alternatively, set load_mel_from_disk=True in hparams.py and update mel-spectrogram paths"
from where do i get the mel spectrograms. i think for the tacotron2 mel spectrograms are the labels. please enlighten me how to get these labels

[2019-02-24 05:19] ajaysg commented on #43
but the wav files are audio files not spectrograms, please help

[2019-02-24 05:26] ajaysg commented on #43
@sunnnnnnnny @rafaelvalle but the wav files are audio files not mel-spectrograms, please help

[2019-02-24 10:19] markopolojarvi commented on #145
I know this is incredibly unhelpful but I don't know because I submitted this 8 days ago and colab resets itself day after so I lost everything I had done.

However I didn't change anything from inference.ipynb at the end and I was still getting the result I linked above. So any ideas how I could improve the results? I looked at hparams but without understand the code, the options are a bit of bla

[2019-02-24 17:50] rafaelvalle commented on #145
You will need to anneal the learning rate during training when the validation loss starts to plateau otherwise you will not reach lower validation losses than having a fixed learning rate.

[2019-02-25 00:52] tugstugi commented on #135
@dnnnew @delgerdalai
You can still keep the default parameter of this repo and train a Mongolian dataset. You have to cheat a little bit: load the pretrained LJSpeech model but without the embedding weight (because the Mongolian and English symbols differ). With a 5h Mongolian Bible dataset, I got already alignment starting from the step 2500 with the Noam LR scheduling.

[2019-02-25 01:14] dnnnew commented on #135
@tugstugi

Super cool :). I'm really glad to hear that.
Here is a alignment plot of MBS dataset with default params (26k iters).
It seems becoming with the gaps, so I stop training.

<img width="688" alt="screen shot 2019-02-25 at 9 00 59 am" src="https://user-images.githubusercontent.com/45612997/53308513-e952f780-38dc-11e9-8b3f-a396aad5e298.png">

Does your alignment plot has a little gaps or no

[2019-02-25 01:32] tugstugi commented on #135
@dnnnew this repo uses scipy.io.wavfile.read and assumes that WAV files are int16 which is not good :) The WAV files of the Mongolian Bible should be float32. Have you fixed that before training the Mongolian Bible dataset?

So far I remember, the alignments looked OK. I can check tomorrow my dev machine whether the plots looked OK or not.

[2019-02-25 01:48] dnnnew commented on #135
@tugstugi

First, I disabled this line.
https://github.com/NVIDIA/tacotron2/blob/f2c94d94fd64041bd8fdbd908beceea35e82ace0/data_utils.py#L43
But I get error some files of MBS.

Then, I saved as MBS dataset to int16 😥, and didn't change code.

Thank you

[2019-02-25 07:15] hubeibei007 commented on #142
The method of subtraction the noise bias from my generated audio improves my audio quality.
I will try to improve Tacotron2 validation.
Thank you very much.

[2019-02-25 09:14] tugstugi commented on #135
@dnnnew somehow I removed the logs. Found only an alignment image of the 3750th step:
![3750](https://user-images.githubusercontent.com/243826/53326400-c7aa3e00-38e5-11e9-87f8-0a17a69eaf99.png)

[2019-02-25 09:23] dnnnew commented on #135
Nice, it looks no gaps.

I've started training with pertained LJ weights but without Noam LR scheduler.
How important Noam LR scheduler?

Thanks again.

[2019-02-25 18:28] rafaelvalle commented on #135
@tugstugi thanks for sharing these. With the current setup on LJS there are no gaps in the alignments. For this reason, I suspect that the gaps you are seeing are related to your text and data pre-processing.

[2019-02-25 18:29] tugstugi commented on #135
@dnnnew  I prefer the Noam LR scheduling specially if I am using a pretrained model. It converges much faster than with a fixed big LR. From the 5000th step, the generated Mongolian audio using Griffin-Lim should be already intelligable.

[2019-02-26 00:50] dnnnew commented on #135
@tugstugi , @rafaelvalle
LJS pretrained weights and after 8k iters. (default params)
<img width="661" alt="screen shot 2019-02-26 at 8 35 16 am" src="https://user-images.githubusercontent.com/45612997/53378686-7c556580-39a1-11e9-9887-6363ed6f98de.png">

[LJS-pretrained_8k_step.wav.zip](https://github.com/NVIDIA/tacotron2/files/2903225/LJS-pretrained_8k_step.wav.zip)

Without pertained weights and

[2019-02-26 00:50] #135 closed

[2019-02-26 01:19] aaronlex opened #152 "Why are outputs of bidirectional lstm layers not summed up?"
In the Encoder layer in model.py an LSTM layer is set to bidirectional.
[https://github.com/NVIDIA/tacotron2/blob/master/model.py#L170](url)

But in the forward method, why isn't the output of the lstm layer summed up by doing something like:
`outputs = outputs[:, :, :int(hparams.encoder_embedding_dim / 2)] + outputs[:, : ,int(hparams.encoder_embedding_dim / 2):]`? Shouldn't the outputs of a bi-di

[2019-02-26 05:32] rafaelvalle commented on #152
PyTorche's LSTM Layer does it automatically when bidirectional is set to True..

[2019-02-26 11:45] tugstugi commented on #135
@dnnnew I have checked your attached training sample. Actually your speaker makes many unnatural pauses after every few words like "гэх мэдээлэл", "хэвлэлээр цацагдсан нь" and "ор үндэсгүй гэж".

Who is the speaker? The voice sounds familiar.

[2019-02-26 12:15] dnnnew commented on #135
Yep :(.
Also, we made a mistake when we prepare dataset.  Our training sample has multiple sentence, or incomplete sentences. We are working on realignment sound and text.

Нарамчимэг гэсэн байхаа, үндэсний радиод ажиллаж байсан нэг эгчээр уншуулсан. Бид нар мэдээ уншдаг модел-тэй болох гээд нээлттэй кодуудыг туршиж үзээд.

[2019-02-26 14:33] tugstugi commented on #135
@dnnnew Is your waveglow trained on your dataset? Could you try something for me? Feed your Mongolian Tacotron output to the LJSpeech trained waveglow and post the result here :)

PS: send me message over FB. I have some private questions.

[2019-02-26 15:35] dnnnew commented on #135
Yes, waveglow is trained on my dataset.

Tacotron model (LJS pertained weights + 23k iters /training is ongoing/) + LJS pretrained waveglow / my waveglow(500k iters).

Here is result. 😮 super
[result.zip](https://github.com/NVIDIA/tacotron2/files/2906206/result.zip)

PS: Sure

[2019-02-26 15:43] tugstugi commented on #135
so LJSpeech waveglow works better than Mongolian trained waveglow for Mongolian texts? :D

[2019-02-26 15:51] dnnnew commented on #135
I read that LJS waveglow is trained 870epochs, my version is trained 130 epochs.
Is it possible fine tuning LJS waveglow with my dataset?

[2019-02-26 15:54] tugstugi commented on #135
@dnnnew sure, you can finetune but the problem is waveglow's train code and their provided pretrained model don't match. So you have to fix it first.

[2019-02-26 17:34] #152 closed

[2019-02-26 20:24] hadaev8 commented on #111
I noticed one thing
http://puu.sh/CS7Oa/78085e229c.png
http://puu.sh/CS7ON/cd3768c8f2.png

So it turns out the network is paying attention to silence?

[2019-02-27 00:25] rafaelvalle commented on #151
The mel spectrograms are extracted form the audio files.

[2019-02-27 00:25] #151 closed

[2019-02-27 00:25] rafaelvalle commented on #150
One can train Tacotron 2 on 16khz sampling rate. Note that the highest representable frequency will be 8khz.

[2019-02-27 00:25] #150 closed

[2019-02-27 00:26] rafaelvalle commented on #144
Is this issue solved?

[2019-02-27 00:28] rafaelvalle commented on #131
It can be due to the dataset quality.
You can also train starting with the weights from the pre-trained model, keeping the embedding layer from the model that will be trained. It should learn attention faster.

[2019-02-27 00:29] #125 closed

[2019-02-27 00:29] #123 closed

[2019-02-27 06:09] jokigenki commented on #144
I'm still experiencing this problem. Any ideas?

[2019-02-27 06:35] isaacleeai opened #153 "Low utilization"
When I check utilization of GPU using `nvidia-smi`, it is around 30% ( GTX 1080 and 1080 Ti ). Why is it so low?

[2019-02-27 07:55] rafaelvalle commented on #153
During inference or training?

[2019-02-27 07:56] isaacleeai commented on #153
inference. It only reaches 100% if we use 2 processes and have each process launch it's own tacotron.

[2019-02-27 07:57] rafaelvalle commented on #144
Reach out to the PyTorch forum.

[2019-02-27 07:58] #106 closed

[2019-02-27 07:58] #114 closed

[2019-02-27 07:58] #115 closed

[2019-02-27 07:59] rafaelvalle commented on #118
Thank you. We're soon replacing these with the [AMP](https://github.com/NVIDIA/apex/tree/master/apex/amp) library.

[2019-02-27 07:59] #118 closed

[2019-02-27 07:59] #119 closed

[2019-02-27 08:01] rafaelvalle commented on #153
During inference, GPU utilization is dependent on the length of the sentence being generated. Model weights have a few hundred of MBs.

[2019-02-27 08:16] isaacleeai commented on #153
wait, since you're talking about weight, I just want to make sure that I'm not talking about GPU RAM usage. I'm talking about utilizatino that you can retrieve from `nvidia-smi` defined [here](https://stackoverflow.com/questions/40937894/nvidia-smi-volatile-gpu-utilization-explanation/40938696#40938696). I have tried sentences that take at least 1.5 seconds, but still utilization is 30%. If there

[2019-02-28 06:00] yxt132 commented on #142
@rafaelvalle Is there a better way to get rid of the horizontal lines during training rather than doing post processing like this?

[2019-02-28 18:26] hadaev8 opened #154 "Audio files duration matter?"
LJSpeech coverage while M-AILABS not
So I'm thinking, maybe because wavs duration?

Duration distributions for datasets:
LJSpeech
![](http://puu.sh/CT69r/b549f24e2b.jpg)
M-AILABS
![](http://puu.sh/CT6dA/006f98ee86.jpg)

Can I bypass it? (i can drop too long data obviously, but may be where is other ways)

[2019-02-28 19:16] aaronlex opened #155 "Humming in synthesized audio file?"
I have trained Tacotron for 437k steps and Wavenet for 720k steps on about 14 hours of audio data. So far when I've been testing it, the audio files I synthesize have a humming/noise-like sound in them. I'm using a sigma value of 0.666, increasing sigma doesn't help but lowering sigma increases the humming sound.

Is this something that more wavenet training will solve?
For tacotron2 after about 3

[2019-03-01 02:38] tsungruihon opened #156 "have ever tried to implement WORLD vocoder?"
May i ask any friend have ever tried to implement `WORLD` vocoder instead `griffin lim` ?

[2019-03-01 05:27] ajaysg opened #157 "i want to convert the pretrained waveglow_old.pt to ONNX format, so that i can use it in tensorrt, please help"

[2019-03-01 08:58] prajwalkr commented on #112
It did not work, the issue still persists for me as well.

[2019-03-01 10:31] prajwalkr commented on #111
Could you please share your loss graph(s)? Thank you.

[2019-03-02 12:34] beknazar commented on #31
@vijaysumaravi  Mine was also stopped after 32.5 epochs, did you figure out the reason?

[2019-03-02 22:54] vijaysumaravi commented on #31
Reducing my batch size helped. I was training it on a single GPU.

[2019-03-03 22:59] adimukewar commented on #121
I am trying to fine tune the model on a relatively smaller dataset [NEU Emotional Speech Corpus].
Is it possible to share the '.pth' checkpoint file for the complete LJSpeech training?
Thanks

[2019-03-04 14:51] AratorField opened #158 "Check Tacotron output w/o trained vocoder"
I am training a Tacotron model with a custom dataset.
In inference.py script I can check how well the model is a the moment but I have to have WaveGlow model to create waveform. I do not have computation power to train two models in parallel (Tacotron & WaveGlow). So now I cannot check how well Tacotron is doing because I cannot create waveform. Is there any option to create waveform directly from

[2019-03-04 14:55] tugstugi commented on #158
You can use the pretrained LJSpeech waveglow for any language. It will even work for a male voice.

[2019-03-04 14:58] tugstugi commented on #158
Here is a synthesized example for a Mongolian male voice using the LJSpeech trained waveglow:

[10k_mongolian_ljspeech_vocoder.zip](https://github.com/NVIDIA/tacotron2/files/2926855/10k_mongolian_ljspeech_vocoder.zip)

[2019-03-04 15:30] AratorField commented on #158
Unfortunately I have female voice.

[2019-03-04 15:31] tugstugi commented on #158
Then, it will even work better. LJSpeech is a female voice.

[2019-03-04 16:08] AratorField commented on #158
It is not sounds well. I feed it with mel_spectrogram created directly from wav file by `get_mel` method in `TextMelLoader`.
I use default hparams.

[pretrained_waveglow.wav.zip](https://github.com/NVIDIA/tacotron2/files/2927169/pretrained_waveglow.wav.zip)

[2019-03-05 06:46] anupam456 commented on #142
Hi @hubeibei007

As mentioned below in your response, how did you generate the noise.wav file?

[2019-03-05 07:22] delgerdalai commented on #158
Your wav file is 32(float). You have to change normalization code.
<img width="792" alt="screen shot 2019-03-05 at 3 19 29 pm" src="https://user-images.githubusercontent.com/3131525/53787526-21e87600-3f5a-11e9-8d3f-9200ef7dd4b9.png">

[generated_pretrained_LJS.wav.zip](https://github.com/NVIDIA/tacotron2/files/2929676/generated_pretrained_LJS.wav.zip) is generated by pretrained LJS pretrained. It

[2019-03-05 08:53] AratorField commented on #158
@delgerdalai Thanks! Sounds much better.
It won't be a problem that each audio file will be normalized using different value? Or I should put there some constant value which will fit the whole dataset?

[2019-03-05 09:20] delgerdalai commented on #158
I think goal is convert audio file to [-1, 1] range.

I don't know about wav 32bit float file format. Maybe you can find maximum value of whole dataset and then you can use it by constant.

Or just **audio_norm = audio / audio.max()** might be better.

for 16bit int wav file:

**audio_norm = audio / 16bit integer maximum value.**
_LJS dataset wav is 16bit integer. Therefore hparams.max_wav_value i

[2019-03-05 09:32] AratorField commented on #158
Thank you. It looks like files are already normalized and values are in the range <-1,1>.
No need to do normalization in my case :)

[2019-03-05 09:32] #158 closed

[2019-03-05 17:27] prajwalkr commented on #141
Were you able to successfully train it in the end? When did you achieve the alignment?

[2019-03-05 17:31] prajwalkr commented on #127
Were you able to achieve good alignment? If so, at what epoch / iteration did you achieve it?

[2019-03-06 06:58] prajwalkr opened #160 "Unable to achieve alignment after 20k iterations on Hindi Speech dataset of ~20 hours."
My hparams.py file is in the default setting. My audio files are 1-10 seconds long with no silences at the ends.

The model has been trained on >20K iterations with a batch size of 16 on two GPUs (so effective batch size is 32).

Replaced the symbols in the symbols.py file with all unique Hindi characters in my dataset. Using basic_cleaners.

Here is the poor alignment image:
![image](https://user

[2019-03-06 09:12] wanshun123 opened #161 "How to reduce hissyness/robotic sound in result?"
I am training Tacotron 2 from scratch on my own dataset of about 5.5 hours of audio (across nearly 15,000 audio files, formatted the same as LJ Speech) and have intelligible results, but there remains a robotic noise in the background:

[results.zip](https://github.com/NVIDIA/tacotron2/files/2935333/results.zip)

When training the loss gets to a minimum of around 0.84 then starts to go back up aga

[2019-03-07 07:44] shwetagargade216 commented on #134
@Yeongtae  @rafaelvalle
deepvoice3 and neural voice cloning with few samples both have implemented speaker adaption on single speaker instead of multi-speaker.
As per my TTS research Tacotron2+wavenet has interesting sound quality,
For the speaker adaption need to just fine tune pre- trained model on few samples.

any comments ?

[2019-03-07 10:31] duvtedudug opened #162 "Pre-trained model to resume/fine-tune train from?"
I notice that the pre-trained model does not include optimiser details. @rafaelvalle mentioned in another thread it is not published as a checkpoint to resume from.

It would be great to have a model that can be resumed, for fine-tuning on smaller datasets.

Can anybody share a LJSpeech or other heavily trained model checkpoint?

Thanks in advance, Duvte.

[2019-03-08 01:12] hubeibei007 commented on #142
Hi @anupam456

I chose some non voice segments from the generated audio as the noise input.

[2019-03-08 07:03] androidof2008 commented on #124
Do you include the time of loading model?
On 1080Ti and V100, for such short sentence, the inference time is less than 0.3s

[2019-03-11 12:29] pierrewessman commented on #97
If anyone gets here wondering how to solve the initialization of the submodule here is how you do it:
git submodule init; git submodule update

[2019-03-11 13:39] anilgovind commented on #102
@dnnnew
I am also interested to know about the performance of your trained data. Is it have the same performance of pre-trained model?

[2019-03-12 10:20] playma commented on #109
Go to pytorch website, and choose the version which satisfies your cuda version
https://pytorch.org/

`cu100 = cuda 10`
pip3 uninstall torch
pip3 install https://download.pytorch.org/whl/cu100/torch-1.0.1.post2-cp36-cp36m-linux_x86_64.whl

[2019-03-12 12:43] rohan6366 commented on #162
Would be handy to have a pre-trained Tacotron 2 to continue training.

[2019-03-12 12:46] tugstugi commented on #162
See https://github.com/NVIDIA/tacotron2#inference-demo

[2019-03-12 13:21] rohan6366 commented on #162
Correct me if I'm wrong. But can you fine-tune this?

[2019-03-12 14:00] tugstugi commented on #162
sure. I have successfully used it to fune tune Mongolian TTS. For a foreign language, you have to filter out the embedding weights.

[2019-03-12 14:58] hatiff commented on #162
Sorry, but could you explain more precisely what needs to be done for this?

[2019-03-12 15:05] hatiff commented on #162
If i use pretreined model from https://github.com/NVIDIA/tacotron2#inference-demo exactly for eng language. How can i make it?

[2019-03-12 16:05] duvtedudug commented on #162
@tugstugi I couldn't fine-tune with the published model. (Meaning I couldn't resume training LJSpeech and for the initial loss to be low.) So @rohan6366 I agree with you.

Maybe there's something I'm missing?

Would love to fine-tune from a well trained model.

[2019-03-12 16:25] tugstugi commented on #162
I have fine tuned the provided pre-trained model for a Mongolian 5h dataset. You have to use `--checkpoint_path` and `--warm_start`. Because I am using a foreign language, I have to manipulate https://github.com/NVIDIA/tacotron2/blob/master/train.py#L92 so that the embedding weights are not loaded. After that, I got already alignment after 3000 steps. Here is a sample after 10K steps: https://gith